<% # The collection settings page %>
<section id="<%= dom_id(collection) %>" data-controller="work-type">
  <%= render Collections::Show::SettingsHeaderComponent.new(collection_version: collection.head) %>
  <%= render Works::WorkTypeModalComponent.new %>
  <%= render Collections::ReleaseComponent.new(collection: collection) %>
  <%= render Collections::TermsOfUseComponent.new(collection: collection) %>
  <%= render Collections::ParticipantsComponent.new(collection: collection) %>
  <%= render Collections::WorkflowReviewComponent.new(collection: collection) %>
  <%= render Collections::HistoryComponent.new(collection: collection) %>
</section>
