# The collection settings page %>
<section id="<%= dom_id(collection) %>" data-controller="work-type">
  <%= render Collections::Show::SettingsHeaderComponent.new(collection_version: collection.head) %>
  <%= render Works::WorkTypeModalComponent.new %>
  <turbo-frame id="collectionAdminFrame" src="<%= admin_collection_path(collection) %>">
  </turbo-frame>
  <%= render Collections::ReleaseComponent.new(collection:) %>
  <%= render Collections::TermsOfUseComponent.new(collection:) %>
  <%= render Collections::ParticipantsComponent.new(collection:) %>
  <%= render Collections::WorkflowReviewComponent.new(collection:) %>
  <%= render Collections::HistoryComponent.new(collection:) %>
</section>
