<% # The collection settings page %>
<% # TODO: this can move back to being a component %>
<section id="<%= dom_id(collection) %>">
  <%= render 'header', collection: collection %>
  <%= render Collections::ReleaseComponent.new(collection: collection) %>
  <%= render Collections::TermsOfUseComponent.new(collection: collection) %>
  <%= render Collections::ParticipantsComponent.new(collection: collection) %>
  <%= render Collections::WorkflowReviewComponent.new(collection: collection) %>
  <%= render Collections::HistoryComponent.new(collection: collection) %>
</section>
