<table class="table table-sm mb-5">
  <thead class="table-light">
  <tr>
    <th scope="col" class="table-title">Files
      <span class="ms-3">
        <%= helpers.turbo_frame_tag dom_id(work, 'edit_file'), src: edit_button_work_path(work, tag: 'file'), target: '_top' %>
      </span>
      <%= link_to work_zip_path(work), class: 'ms-4' do %>
        <span class="fas fa-download" aria-hidden="true"></span><span class="visually-hidden">Download All Files</span>
      <% end %>
    </th>
    <th scope="col">Description</th>
    <th scope="col">Hide file</th>
  </tr>
  </thead>
  <tbody>
    <% attached_files.each do |af| %>
      <tr>
        <td><%= af.filename %>
          <%= link_to rails_blob_path(af.file, disposition: "attachment"), class: 'ms-2' do %>
            <span class="fas fa-download" aria-hidden="true"></span><span class="visually-hidden">Download</span>
          <% end %>
        </td>
        <td><%= af.label %></td>
        <td><%= af.hide? ? 'Yes' : 'No' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
