<% content_for :breadcrumbs do %>
  <%= render BreadcrumbNavComponent.new(admin: true, breadcrumbs: [{ title: 'Edit page content' }]) %>
<% end %>
<main id="content">
  <div class="container" id="dashboard">
    <h1>Edit Page Content - <%= @page_content.page %></h1>

    <%= render Admin::NavigationComponent.new(selected: admin_page_content_index_path) %>

    <%= form_for [:admin, @page_content], class: 'col-md-4 mt-3' do |form| %>
       <% if @page_content.errors.any? %>
            <div class="alert alert-danger" role="alert">
                <ul>
                <% @page_content.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
                </ul>
            </div>
        <% end %>
        <p>Last edited: <em><%= @page_content.updated_at.to_fs(:long) %></em></p>
        <p>Edited by: <em><%= @page_content.user %></em></p>
        <div class="form-check">
            <%= form.check_box :visible %>
            <%= form.label :visible, 'Visible to user' %>
        </div>
        <%= form.label :value, 'Message' %>
        <%= form.text_area :value, class: 'form-control' %>
        <%= form.label :link_text, 'Link Text' %>
        <%= form.text_field :link_text, size: 30, class: 'form-control' %>
        <%= form.label :link_url, 'Link URL' %>
        <%= form.text_field :link_url, size: 30, class: 'form-control' %>
        <div class="form-check">
            <%= form.check_box :link_visible %>
            <%= form.label :link_visible, 'Show link' %>
        </div>
        <%= form.submit 'Save', class: 'btn btn-primary my-3' %>
    <% end %>

  </div>
</main>
