<header>All fields are required, unless otherwise noted.</header>
<%= form_with model: collection_form, remote: true,
    data: {
      controller: 'edit-collection',
      action: 'ajax:error->edit-collection#displayErrors'
    },
    html: { class: 'needs-validation row collection-editor', novalidate: true, multipart: true } do |form| %>
  <section>
    <header>Details</header>
    <div class="mb-3 row">
      <%= form.label :name, 'Collection name', class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10 col-xl-8">
        <%= form.text_field :name, class: "form-control", required: true %>
        <div class="invalid-feedback">You must provide a name</div>
      </div>
    </div>
    <div class="mb-3 row">
      <%= form.label :description, 'Description', class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10 col-xl-8">
        <%= form.text_field :description, class: "form-control", required: true %>
        <div class="invalid-feedback">You must provide a description</div>
      </div>
    </div>

    <div class="mb-3 row">
      <%= form.label :contact_email, 'Contact email', class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10 col-xl-8">
        <%= form.email_field :contact_email, class: "form-control", required: true, pattern: Devise.email_regexp.source %>
        <div class="invalid-feedback">You must provide a valid email address</div>
      </div>
    </div>
  </section>

  <section>
    <%= render Works::RelatedLinkComponent.new(form: form) %>
  </section>

  <section>
    <header>Manage release of deposits for discovery and download</header>

    <fieldset class="mb-5 release-option">
      <legend class="h5">When will files on deposits to this collection be downloadable?</legend>
      <div class="form-check">
        <%= form.radio_button :release_option, 'immediate', class: "form-check-input" %>
        <%= form.label 'release_option_immediate', class: "form-check-label" do %>
          Immediately
        <% end %>
      </div>

      <div class="form-check">
        <%= form.radio_button :release_option, 'delay', class: "form-check-input" %>
        <%= form.label 'release_option_delay', class: "form-check-label" do %>
          Delay release until
        <% end %>
        <div class="year">
          <label for="collection_release_date_year" class="visually-hidden">Embargo year</label>
          <%= select_year release_date_year, { prefix: 'collection', field_name: 'release_date(1i)', start_year: Time.zone.today.year, end_year: 3.years.from_now.year }, id: 'collection_release_date_year', class: "form-control" %>
        </div>

        <div class="month">
          <label for="collection_release_date_month" class="visually-hidden">Embargo month</label>
          <%= select_month release_date_month, { prefix: 'collection', field_name: 'release_date(2i)', prompt: 'month'}, id: 'collection_release_date_month', class: "form-control" %>
        </div>

        <div class="day">
          <label for="collection_release_date_day" class="visually-hidden">Embargo day</label>
          <%= select_day release_date_day, { prefix: 'collection', field_name: 'release_date(3i)', prompt: 'day'}, id: 'collection_release_date_day', class: "form-control" %>
        </div>
      </div>

      <div class="form-check">
        <%= form.radio_button :release_option, 'depositor-selects', class: "form-check-input" %>
        <%= form.label 'release_option_depositor-selects', class: "form-check-label" do %>
          Depositor selects a date
        <% end %>
        <%= form.label :release_duration, class: "form-check-label" do %>
          between date of deposit and
        <% end %>
        <%= form.select :release_duration,
          options_for_select(DraftCollectionForm::EMBARGO_RELEASE_DURATION_OPTIONS),
                              {},
                              class: 'form-select release-duration' %>
      </div>
    </fieldset>

    <fieldset>
      <legend class="h5">Who will have permission to download files for deposits to this collection?</legend>
      <div class="form-check">
        <%= form.radio_button :access, 'world', class: "form-check-input" %>
        <%= form.label 'access_world', class: "form-check-label" do %>
          Everyone &mdash; anyone in the world will be able to download the files for all deposits in this collection.
        <% end %>
      </div>
      <div class="form-check">
        <%= form.radio_button :access, 'stanford', class: "form-check-input" %>
        <%= form.label 'access_stanford', class: "form-check-label" do %>
          Stanford community &mdash; only members of the Stanford community will be able to download the files for all deposits in this collection.
        <% end %>
      </div>
      <div class="form-check">
        <%= form.radio_button :access, 'depositor-selects', class: "form-check-input" %>
        <%= form.label 'access_depositor-selects', class: "form-check-label" do %>
          Depositor selects &mdash; default for all deposits will be that everyone can download the files, but Depositor can choose to restrict file download for their deposit to the Stanford community.
        <% end %>
      </div>
    </fieldset>
  </section>

  <section>
    <header>Collection participants</header>
    <div class="mb-3 row">
      <p class="col-sm-12">Enter SUNet IDs of participants. Separate each one with a comma and a space. (e.g. janelath, lelandst)</p>
    </div>

    <div class="mb-3 row">
      <%= form.label :managers, 'Managers', class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10 col-xl-8">
        <%= form.text_field :manager_sunets, class: "form-control", required: true %>
        <div class="invalid-feedback">You must provide managers</div>
      </div>
    </div>

    <div class="mb-3 row">
      <%= form.label :depositor_sunets, 'Depositors', class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10 col-xl-8">
        <%= form.text_field :depositor_sunets, class: "form-control" %>
      </div>
    </div>

    <div class="mb-3 row">
      <div class="col-sm-10 col-xl-8 offset-sm-2">
         <%= form.check_box :email_when_participants_changed, { class: "form-check-input" }, 'true', 'false' %>
         <%= form.label :email_when_participants_changed,
         "Send email to collection Managers and Reviewers when participants are added/removed.",
         class: 'form-check-label' %>
      </div>
    </div>

    <div class="mb-3 row">
      <div class="col-sm-10 col-xl-8 offset-sm-2">
         <%= form.check_box :email_depositors_status_changed,{ class: "form-check-input" }, 'true', 'false' %>
         <%= form.label :email_depositors_status_changed,
         "Send email to Depositors whose status has changed.",
         class: 'form-check-label' %>
      </div>
    </div>

  </section>

  <section>
    <header>Review Workflow</header>

    <div class="mb-3 row">
      <%= form.label :review_enabled, class: 'col-sm-10 col-xl-8 col-form-label' do %>
        A reviewer checks a deposit for clarity, accuracy, and completeness before approving the publication. Only one Reviewer
        is required to review each deposit. A Reviewer can edit a deposit or return it to the Depositor with a request for changes.
        The Depositor will receive a notification when their deposit is returned or approved.
      <% end %>
      <div class="col-sm-3">
        <div class="form-check form-switch">
          <%= form.check_box :review_enabled, { class: 'form-check-input' }, 'true', 'false' %>
          <%= form.label :review_enabled, 'Enable Review Workflow', class: "form-check-label" %>
        </div>
      </div>
    </div>

    <!-- TODO: only display sunet entry field if reviewer workflow is enabled -->
    <p>Enter SUNet IDs of participants. Separate each one with a comma and a space. (e.g. janelath, lelandst)</p>
    <div class="mb-3 row" data-controller="reviewer-sunets" data-action="error->reviewer-sunets#error" data-edit-collection-target="reviewerSunetsField">
      <%= form.label :reviewer_sunets, 'Additional Reviewers', class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10 col-xl-8">
        <%= form.text_field :reviewer_sunets, class: "form-control", required: false, data: { reviewer_sunets_target: 'container' } %> <!-- TODO: should prob have at least one required if enabled? -->
        <div data-reviewer-sunets-target="error" class="invalid-feedback">You must provide reviewers</div>
      </div>
    </div>
  </section>

  <%= render ButtonsComponent.new(form: form) %>
<% end %>
