<header class="title">
  <span class="header-text"><%= name %></span>
  <%= render Collections::EditLinkComponent.new(collection: collection, anchor: '', label: "Edit #{name}") %>
  <% if depositing? %>
    <span class="state">Depositing <%= spinner %></span>
  <% end %>
  <% if can_create_work? %>
    <span class="deposit-button" data-controller="work-type">
      <%= button_tag '+ Deposit to this collection',
            data: {
              destination: new_collection_work_path(@collection),
              bs_toggle: 'modal',
              bs_target: '#workTypeModal',
              action: "work-type#set_collection"
            },
            class: "btn btn-primary" %>

      <%= render Works::WorkTypeModalComponent.new %>
    </span>
  <% end %>
</header>
