<table class="table table-sm mb-5 caption-header">
  <caption>Collection information</caption>
  <tbody>
    <tr>
      <th>PURL</th>
      <td>
        <% if purl %>
          <%= link_to purl, purl %>
        <% else %>
          <em>Link will become available once the collection has been deposited.</em>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Version details</th>
      <td><%= version %></td>
    </tr>
    <tr>
      <th>Created by</th>
      <td><%= creator.sunetid %></td>
    </tr>
    <tr>
      <th>Collection created</th>
      <td><%= created %></td>
    </tr>
    <tr>
      <th>Last Saved</th>
      <td><%= last_saved %></td>
    </tr>
  </tbody>
</table>
