
  <section id="release_details">
    <header>Manage release of deposits for discovery and download *</header>

    <fieldset class="mb-5 release-option" data-controller="complex-radio">
      <legend class="h5">When will files on deposits to this collection be downloadable? * <%= render PopoverComponent.new key: 'collection.release' %></legend>
      <div class="form-check" data-complex-radio-target="selection">
        <%= form.radio_button :release_option, 'immediate', class: "form-check-input", data: { action: 'complex-radio#disableUnselectedInputs' } %>
        <%= form.label 'release_option_immediate', t('options.collection.release.immediate'), class: "form-check-label" %>
      </div>

      <div class="form-check" data-complex-radio-target="selection">
        <%= form.radio_button :release_option, 'delay', class: "form-check-input", data: { action: 'complex-radio#disableUnselectedInputs' } %>
        <%= form.label 'release_option_delay', t('options.collection.release.delay'), class: "form-check-label" %>
        <%= form.label :delay_release_duration, 'until', class: "form-check-label" %>
        <%= form.select :release_duration,
          options_for_select(embargo_release_duration_options, selected: release_duration),
                              {},
                              id: 'collection_delay_release_duration',
                              class: 'form-select' %>
      </div>

      <div class="form-check" data-complex-radio-target="selection">
        <%= form.radio_button :release_option, 'depositor-selects', class: "form-check-input", data: { action: 'complex-radio#disableUnselectedInputs' } %>
        <%= form.label 'release_option_depositor-selects', t('options.collection.release.depositor_selects'), class: "form-check-label" %>
        <%= form.label :depositor_selects_release_duration, 'between date of deposit and', class: "form-check-label" %>
        <%= form.select :release_duration,
          options_for_select(embargo_release_duration_options, selected: release_duration),
                              {},
                              id: 'collection_depositor_selects_release_duration',
                              class: 'form-select' %>
      </div>
    </fieldset>

    <fieldset>
      <legend class="h5">Who will have permission to download files for deposits to this collection? * <%= render PopoverComponent.new key: 'collection.access' %></legend>
      <div class="form-check">
        <%= form.radio_button :access, 'world', class: "form-check-input" %>
        <%= form.label 'access_world', t('options.collection.access.world'), class: "form-check-label" %>
      </div>
      <div class="form-check">
        <%= form.radio_button :access, 'stanford', class: "form-check-input" %>
        <%= form.label 'access_stanford', t('options.collection.access.stanford'), class: "form-check-label" %>
      </div>
      <div class="form-check">
        <%= form.radio_button :access, 'depositor-selects', class: "form-check-input" %>
        <%= form.label 'access_depositor-selects', t('options.collection.access.depositor_selects'), class: "form-check-label" %>
      </div>
    </fieldset>
  </section>

  <%= render Collections::EditLicenseComponent.new(form: form) %>

  <section id="participants">
    <header>Collection participants *</header>
    <div class="mb-3 row">
      <p class="col-sm-12">Enter SUNet IDs of participants. Separate each one with a comma and a space. (e.g. janelath, lelandst)</p>
    </div>

    <%= render Collections::Update::ManagersComponent.new(form: form) %>
    <%= render Collections::Update::DepositorsComponent.new(form: form) %>

    <div class="mb-3 row">
      <div class="col-sm-10 col-xl-8 offset-sm-2">
         <%= form.check_box :email_when_participants_changed, { class: "form-check-input" }, 'true', 'false' %>
         <%= form.label :email_when_participants_changed,
         "Send email to Collection Managers and Reviewers when participants are added/removed.",
         class: 'form-check-label' %>
      </div>
    </div>

    <div class="mb-3 row">
      <div class="col-sm-10 col-xl-8 offset-sm-2">
         <%= form.check_box :email_depositors_status_changed,{ class: "form-check-input" }, 'true', 'false' %>
         <%= form.label :email_depositors_status_changed,
         "Send email to Depositors whose status has changed.",
         class: 'form-check-label' %>
      </div>
    </div>
  </section>

  <section id="review" data-controller="review-workflow">
    <header>Review Workflow</header>

    <div class="mb-3 row">
      <%= tag.span t('hints.collection.review_enabled'), class: 'col-sm-10 col-xl-8 col-form-label' %>
      <div class="col-sm-3">
        <div class="form-check form-switch">
          <%= form.check_box :review_enabled, { class: 'form-check-input', data: { action: 'review-workflow#toggle', review_workflow_target: 'enabled' } }, 'true', 'false' %>
          <%= form.label :review_enabled, 'Enable Review Workflow', class: "form-check-label" %>
        </div>
      </div>
    </div>

    <%= render Collections::Update::ReviewersComponent.new(form: form) %>
  </section>
