<tr>
  <%= render Works::LinkToShowComponent.new(work_version: work_version) %>
  <td>
    <% if allowed_to? :edit?, work_version %>
      <%= link_to [:edit, work], aria: { label: "Edit #{Works::DetailComponent.new(work_version: work_version).title}" } do %>
        <span class="fas fa-pencil-alt" aria-hidden="true"></span>
      <% end %>
    <% end %>
    <%= helpers.turbo_frame_tag dom_id(work, :delete), src: delete_button_work_path(work) %>
  </td>
  <td><%= work.depositor.sunetid %></td>
  <td><%= render Works::StateDisplayComponent.new(work_version: work_version) %></td>
  <td><%= I18n.l(work.updated_at.to_date, format: :abbr_month) %></td>
  <td><%= attached_files.count %></td>
  <td><%= size %></td>
  <td><%= link_to work.purl, work.purl if work.purl %></td>
  <td><%= render CitationComponent.new(work_version: work_version) %></td>
</tr>
