<table class="table table-striped" id="worksTable" data-controller="datatable-works" data-datatable-works-hide-depositor-value="<%= hide_depositor? %>">
  <thead class="table-light">
    <tr>
      <th width="18%"><%= I18n.t 'collection.deposits' %></th>
      <th><span class="visually-hidden"><%= I18n.t 'collection.actions' %></span></th>
      <th width="10%"><%= I18n.t 'collection.depositor' %></th>
      <th><%= I18n.t 'collection.deposit_status' %></th>
      <th><%= I18n.t 'collection.last_modified' %></th>
      <th><%= I18n.t 'collection.number_of_files' %></th>
      <th><%= I18n.t 'collection.deposit_size' %></th>
      <th><%= I18n.t 'collection.persistent_link' %></th>
      <th><%= I18n.t 'collection.citation' %></th>
    </tr>
  </thead>
  <tbody>
    <%= render Collections::WorkRowComponent.with_collection(works.map(&:head)) %>
  </tbody>
</table>
