<table class="table sortable">
<thead class="table-light">
  <tr>
    <th><%= I18n.t 'collection.deposits' %></th>
    <th><span class="visually-hidden"><%= I18n.t 'collection.actions' %></span></th>
    <th><%= I18n.t 'collection.depositor' %></th>
    <th><%= I18n.t 'collection.deposit_status' %></th>
    <th><%= I18n.t 'collection.last_modified' %></th>
    <th><%= I18n.t 'collection.number_of_files' %></th>
    <th><%= I18n.t 'collection.deposit_size' %></th>
    <th><%= I18n.t 'collection.persistent_link' %></th>
    <th><%= I18n.t 'collection.citation' %></th>
  </tr>
</thead>
<tbody>
  <% works.each do |work| %>
    <tr>
      <td class="work-title"><%= link_to Works::DetailComponent.new(work: work).title, work %></td>
      <td>
        <% if allowed_to? :edit?, work %>
          <%= link_to [:edit, work], aria: { label: "Edit #{Works::DetailComponent.new(work: work).title}" } do %>
            <span class="fas fa-pencil-alt"></span>
          <% end %>
        <% end %>
        <%= render Works::DeleteComponent.new(work: work) %>
      </td>
      <td><%= work.depositor.sunetid %></td>
      <td><%= render Works::StateDisplayComponent.new(work: work) %></td>
      <td><%= I18n.l(work.updated_at.to_date, format: :abbr_month) %></td>
      <td><%= work.attached_files.count %></td>
      <td><%= work.attached_files.sum(&:byte_size) %></td>
      <td><%= link_to work.purl, work.purl if work.purl %></td>
      <td><span class="fas fa-quote-left"></span> Cite</td>
    </tr>
  <% end %>
</tbody>
</table>
<%= javascript_pack_tag 'data-table', 'data-turbolinks-track': 'reload' %>

