<% content_for :breadcrumbs do %>
  <%= render BreadcrumbNavComponent.new(admin: true) %>
<% end %>
<main id="content">
  <div class="container" id="dashboard">
    <h1>Admin dashboard</h1>

    <%= render Admin::NavigationComponent.new %>
    <%= render Admin::AllCollectionsComponent.new(stats: @presenter.work_stats) %>
    <%= render Admin::CollectionsActivityComponent.new %>
    <%= render Admin::ItemsActivityComponent.new %>
    <%= render Admin::LockedItemsComponent.new %>
  </div>
</main>
