<%= radio_button_tag name, value, false, id:, class: 'toggle', data:, required: true %>
<label for="<%= id %>"><span class="check"><%= check %></span> <span class="uncheck"><%= uncheck %></span><%= content %></label>
