<div class="inner-container">
  <div class="row mb-2">
    <%= form.label :link_title, 'Link text', class: 'form-label col-md-2' %>

    <div class="col-md-9">
      <%= form.text_field :link_title, class: 'form-control' %>
    </div>

    <div class="col-md-1">
      <% if not_first_link? %>
        <%= button_tag type: 'button', class: 'btn btn-sm float-end', aria: { label: "Remove #{link_title}" },
                       data: { action: "click->nested-form#removeAssociation" } do %>
          <span class="far fa-trash-alt"></span>
        <% end %>
        <%= form.hidden_field :_destroy %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <%= form.label :url, 'URL', class: 'form-label col-md-2' %>

    <div class="col-md-9">
      <%= form.text_field :url, class: 'form-control', pattern: 'https?://.+' %>
      <div class="invalid-feedback">
        URLs must begin with "https://" or "http://".
      </div>
    </div>

    <div class="col-md-1"></div>
  </div>
</div>
