<p>Dear <%= @user.first_name %>,</p>

<p>Your deposit, “<%= @work_version.title %>” to the <%= @work.collection_name %>
  collection in the Stanford Digital Repository, is now waiting for review by a collection Manager.</p>

<p>Upon review, you will receive another notification indicating if the deposit has been
  returned to you for changes or if it has been approved and published.
  <% if @work.druid %>
    Once published, your deposit will be available at this persistent URL (PURL): <%= link_to @work.purl, @work.purl %>
  <% end %>
</p>

<p>If you have any questions, contact the SDR team at: <%= link_to contact_form_url, contact_form_url %></p>

<p>The Stanford Digital Repository Team</p>
