<p>Dear <%= @user.first_name %>,</p>

<p>The Depositor <%= @owner.name %> has created a <%=link_to 'draft', work_url(@work)%> in the <%= @collection_version.name %> collection.</p>

<p>If you have any questions, contact the SDR team at: <%= link_to contact_form_url, contact_form_url %></p>

<p>The Stanford Digital Repository Team</p>
