<header class="title">
  <span class="header-text"><%= name %></span>
  <%= helpers.turbo_frame_tag dom_id(collection_version, :edit),
                              src: edit_link_collection_version_path(collection_version),
                              target: '_top' %>
  <% if depositing? %>
    <span class="state">Depositing <%= spinner %></span>
  <% end %>
  <% if can_create_work? %>
    <span class="deposit-button float-end" data-controller="work-type">
      <%= button_tag '+ Deposit to this collection',
            data: {
              destination: new_collection_work_path(collection),
              bs_toggle: 'modal',
              bs_target: '#workTypeModal',
              action: "work-type#set_collection"
            },
            class: "btn btn-primary" %>

      <%= render Works::WorkTypeModalComponent.new %>
      <%= render CitationModalComponent.new %>
    </span>
  <% end %>
  <%= edit_button %>
</header>
