<header class="title">
  <% if depositing? %>
    <span class="state">Depositing <%= spinner %></span>
  <% end %>
  <div class="row">
    <div class="col"> </div>
    <div class="col-6" data-controller="purl-reservation">
      <%= edit_button %>
      <%= helpers.turbo_frame_tag dom_id(collection, :deposit), src: deposit_button_collection_path(collection) %>
      <%= render Works::PurlReservationModalComponent.new %>
      <%= render CitationModalComponent.new %>
    </div>
  </div>
  <span class="header-text"><%= name %></span><%= render Collections::DraftComponent.new(collection_version:) %>
  <% if collection.head&.decommissioned? %>
    <span class="state">Decommissioned</span>
  <% end %>
  <%= helpers.turbo_frame_tag dom_id(collection, :edit),
                              src: edit_link_collection_path(collection),
                              target: '_top' %>
</header>
