<% content_for :breadcrumbs do %>
  <%= render BreadcrumbNavComponent.new(
    breadcrumbs: [ { title: @collection.head.name, link: collection_path(@collection) },
                   { title: 'Deposits', omit_title: true } ])
  %>
<% end %>
<main id="content" class="mb-3 mb-md-5">
  <div class="container px-4 px-md-3" id="collection">
    <%= render Collections::Show::TabsComponent.new(collection: @collection) %>
    <section data-controller="work-type">
      <%= render Collections::Show::SettingsHeaderComponent.new(collection_version: @collection.head) %>
      <%= render Collections::WorksComponent.new(collection: @collection) %>
      <%= render Works::WorkTypeModalComponent.new %>
    </section>
  </div>
</main>
