<section id="<%= dom_id(collection_version.collection) %>">
  <%= render Collections::HeaderComponent.new(collection_version: collection_version) %>
  <%= render Collections::InformationComponent.new(collection_version: collection_version) %>
  <%= render Collections::DetailComponent.new(collection_version: collection_version) %>
  <%= render Collections::LinksComponent.new(collection_version: collection_version) %>
</section>
