<section class="mb-5" style="position: relative">
  <%= form_with url: search_path, method: :get, local: false,
                data: { controller: 'find-druid', type: 'html', action: 'ajax:error->find-druid#onFailure' },
                class: "row row-cols-lg-auto g-3 align-items-center float-end",
                html: { style: "position: relative; top: 3rem" } do %>
    <div class="col-12">
      <label class="visually-hidden" for="q">Druid</label>
      <input type="search" name="q" class="form-control" placeholder="Druid" />
    </div>
    <div class="col-12">
      <button class="btn btn-primary">Search</button>
    </div>
  <% end %>

  <table class="table table-sm">
    <caption>All Collections</caption>

    <thead class="table-light">
      <tr>
        <th>Collections</th>
        <th>Total</th>
        <th>Deposited</th>
        <th>1st Draft</th>
        <th>Version draft</th>
        <th>Pending</th>
        <th>Returned</th>
        <th>Last modified</th>
      </tr>
    </thead>
    <tbody>
    <% stats.each do |collection, counts| %>
      <tr>
        <td><%= link_to collection.head.name, collection %></td>
        <td><%= counts['total'] %></td>
        <td><%= counts['deposited'] %></td>
        <td><%= counts['first_draft'] %></td>
        <td><%= counts['version_draft'] %></td>
        <td><%= counts['pending_approval'] %></td>
        <td><%= counts['rejected'] %></td>
        <td><%= I18n.l(collection.updated_at.to_date, format: :abbr_month) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
