<section class="mb-5">
  <table class="table table-sm" data-controller="datatable-approvals">
    <caption>Approvals</caption>

    <thead class="table-light">
      <tr>
        <th>Deposit</th>
        <th>Depositor</th>
        <th>Collection</th>
        <th>Deposit status</th>
        <th>Last modified</th>
      </tr>
    </thead>
    <tbody>
    <% approvals.each do |submission| %>
      <tr>
        <%= render Works::LinkToShowComponent.new(work_version: submission) %>
        <td><%= submission.work.depositor.sunetid %></td>
        <td><%= render Collections::LinkToShowComponent.new(collection_version: submission.work.collection.head) %></td>
        <td><%= render Works::StateDisplayComponent.new(work_version: submission) %></td>
        <td><%= render LocalTimeComponent.new(datetime: submission.updated_at, show_time: false) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
