<%= link_to name, collection %>
<% if depositing? %>
  <span class="state" data-controller="state-updates" data-state-updates-collection-id="<%= collection.id %>" data-state-updates-target="state">
    Depositing <%= spinner %>
  </span>
<% else %>
  <%= render Collections::EditLinkComponent.new(collection: collection, anchor: '', label: "Edit #{name}") %>
  <%= render Collections::DeleteComponent.new(collection: collection) %>
<% end %>
