<section>
  <table class="table">
    <caption>
      <%= render Dashboard::CollectionHeaderComponent.new collection: collection %>
    </caption>
    <thead class="table-light">
      <tr>
        <th>Deposits in collection</th>
        <th><span class="visually-hidden">Actions</span></th>
        <th>Deposit status</th>
        <th>Last modified</th>
        <th>Persistent link</th>
        <th>Citation</th>
      </tr>
    </thead>
    <tbody>
      <% visible_deposits.take(MAX_DEPOSITS_TO_SHOW).each do |work| %>
        <tr>
          <%= render Works::LinkToShowComponent.new(work: work) %>
          <td>
            <%= helpers.turbo_frame_tag dom_id(work, :edit), src: edit_button_work_path(work), target: '_top' %>
            <%= helpers.turbo_frame_tag dom_id(work, :delete), src: delete_button_work_path(work) %>
          </td>
          <td><%= render Works::StateDisplayComponent.new(work_version: work.head) %></td>
          <td><%= I18n.l(work.updated_at.to_date, format: :abbr_month) %></td>
          <td><%= link_to work.purl, work.purl if work.purl %></td>
          <td><span class="fas fa-quote-left"></span> Cite</td>
        </tr>
      <% end %>

    </tbody>
  </table>

  <% if visible_deposits.count > MAX_DEPOSITS_TO_SHOW %>
    <div class="mb-3"><%= link_to 'See all deposits', collection_works_path(collection) %></div>
  <% end %>

  <%= helpers.turbo_frame_tag dom_id(collection, :deposit), src: deposit_button_collection_path(collection) %>
</section>
