<%= link_to name, collection %>
<% if allowed_to?(:edit?, collection) %>
  <%= render Collections::EditLinkComponent.new(collection: collection, anchor: '', label: "Edit #{name}") %>
<% elsif depositing? %>
  <span class="state" data-controller="state-updates" data-state-updates-collection-id="<%= collection.id %>" data-state-updates-target="state">
    Depositing <%= spinner %>
  </span>
<% end %>
<%= render Collections::DeleteComponent.new(collection: collection) %>
