<ul class="depositProgress">
  <li class="<%= 'active' if has_file? %>">File</li>
  <li class="<%= 'active' if has_title? %>">Title</li>
  <li class="<%= 'active' if has_author? %>">Author</li>
  <li class="<%= 'active' if has_description? %>">Description</li>
  <li class="<%= 'active' if has_release? %>">Release</li>
  <li class="<%= 'active' if has_license? %>">License</li>
  <li class="<%= 'active' if has_terms? %>">Terms</li>
</ul>
