<div class="row">
  <div class="col-4">
    <%= show_collection_link %> &gt; <%= work_link %> <%= edit_work_link %>
  </div>
  <div class="col-5">
    <%= render Dashboard::DepositProgressComponent.new(work: work) %>
  </div>
  <div class="col-1">
    <%= render Works::DeleteComponent.new(work: work) %>
  </div>
  <div class="col-2">
    <span class="state-display"><%= render Works::StateDisplayComponent.new(work: work) %></span>
  </div>
</div>
