<% if [flash[:success], flash[:notice], flash[:multi_line_notice], flash[:warning], flash[:error]].any? %>
  <div class="flashes mx-3">
    <% if flash[:success] %>
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <%= flash[:success] %>
      </div>
    <% end %>
    <% if flash[:notice] %>
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:multi_line_notice] %>
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <%= flash[:multi_line_notice].join("<br/>").html_safe %>
      </div>
    <% end %>
    <% if flash[:warning] %>
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <%= flash[:warning] %>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <%= flash[:error] %>
      </div>
    <% end %>
  </div>
<% end %>
