<header><strong>* REQUIRED FIELDS</strong></header>
<%= form_with model: collection_form,
    data: {
      controller: 'unsaved-changes',
      action: 'change->unsaved-changes#changed beforeunload@window->unsaved-changes#leavingPage turbo:before-visit@window->unsaved-changes#leavingPage'
    },
    html: { class: 'needs-validation collection-editor', novalidate: true, multipart: true } do |form| %>
  <%= render FirstDraftCollections::Create::DetailsComponent.new(form: form) %>

  <div class="row justify-content-between">
    <div class="col-auto">
      <% if first_draft? %>
        <%= link_to collection, method: :delete, aria: { label: "Delete #{name}" }, data: { confirm: "Are you sure you want to delete this draft collection? It cannot be undone." } do %>
          <span class="btn btn-primary"><span class="far fa-trash-alt"></span> Discard draft</span>
        <% end %>
      <% elsif version_draft? %>
        <%= link_to collection_form, method: :delete, aria: { label: "Delete #{name}" }, data: { confirm: "Are you sure you want to revert to the previously published version? It cannot be undone." } do %>
          <span class="btn btn-primary"><span class="far fa-trash-alt"></span> Discard draft</span>
        <% end %>
      <% end %>
    </div>
    <div class="col-auto">
    </div>
    <div class="col-auto">
      <%= link_to 'Cancel', dashboard_path, class: 'btn btn-link' %>
      <%= form.submit 'Save as draft', class: 'btn btn-primary', id: 'save-draft-button', data: { action: 'unsaved-changes#allowFormSubmission' } %>
      <%= form.submit 'Deposit', class: 'btn btn-primary', data: { action: 'unsaved-changes#allowFormSubmission' } %>
    </div>
  </div>
<% end %>
