<header><strong>* REQUIRED FIELDS</strong></header>
<%= form_with model: collection_form,
      data: {
        controller: "unsaved-changes",
        action: "change->unsaved-changes#changed beforeunload@window->unsaved-changes#leavingPage turbo:before-visit@window->unsaved-changes#leavingPage"
      },
      html: {class: "needs-validation collection-editor", novalidate: true, multipart: true} do |form| %>

  <% if collection_form.errors.present? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4><%= pluralize(collection_form.errors.count, "error") %> prohibited this item from being saved:</h4>

      <ul>
        <% collection_form.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render Collections::SettingsComponent.new(form: form) %>

  <div class="row">
    <div class="col text-end">
      <%= link_to "Cancel", collection_path(model), class: "btn btn-link" %>
      <%= form.submit "Save", class: "btn btn-primary", data: {action: "unsaved-changes#allowFormSubmission"} %>
    </div>
  </div>

<% end %>
