<main class="mb-3 mb-md-5" id="content">
  <div class="container px-4 px-md-3" id="dashboard">
    <section class="mb-5">
      <header>Deposits in progress</header>
      <% @presenter.drafts.each do |draft| %>
        <div>
          <%= draft.collection.name %> &gt; <%= link_to draft.title.presence || 'No title', edit_work_path(draft) %>
        </div>
      <% end %>
    </section>

    <% if @presenter.approvals.any? %>
      <section class="mb-5">
        <table class="table table-sm">
          <caption>Approvals</caption>

          <thead class="table-light">
            <tr>
              <th>Deposit</th>
              <th>Depositor</th>
              <th>Collection</th>
              <th>Deposit status</th>
              <th>Last modified</th>
            </tr>
          </thead>
          <tbody>
          <% @presenter.approvals.each do |submission| %>
            <tr>
              <td><%= link_to submission.title, work_path(submission) %></td>
              <td><%= submission.depositor.sunetid %></td>
              <td><%= submission.collection.name %></td>
              <td><%= submission.state.humanize %></td>
              <td><%= I18n.l(submission.updated_at.to_date, format: :abbr_month) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </section>
    <% end %>

    <section data-controller="work-type">
      <header>Your collections
        <% if allowed_to?(:create?, Collection) %>
          <%= link_to '+ Create a new collection', new_collection_path, class: "btn btn-outline-primary float-right" %>
        <% end %>
      </header>
      <% if @presenter.collections.present? %>
        <ul class="collections">
          <% @presenter.collections.each do |collection| %>
            <li>
              <div>
                <header><%= collection.name.presence || 'No Title' %>
                  <%= link_to edit_collection_path(collection), aria: { label: "Edit #{collection.name}"} do %>
                    <span class="fas fa-pencil-alt"></span>
                  <% end %>
                </header>
                <%= button_tag '+ Deposit to this collection',
                      data: {
                        destination: new_collection_work_path(collection),
                        toggle: 'modal',
                        target: '#workTypeModal',
                        action: "work-type#set_collection"
                      },
                      class: "btn btn-primary" %>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>

      <div class="modal fade" id="workTypeModal" tabindex="-1" aria-labelledby="content-type-prompt" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <%= render Works::WorkTypeModalComponent.new %>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
