<% content_for :breadcrumbs do %>
  <%= render BreadcrumbNavComponent.new %>
<% end %>
<main class="mb-3 mb-md-5" id="content">
  <div class="container px-4 px-md-3" id="dashboard" data-controller="work-type">
    <%= render Dashboard::ContinueWorkModalComponent.new(presenter: @presenter) %>
    <%= render Dashboard::AdminButtonComponent.new %>
    <%= render Dashboard::InProgressComponent.new(presenter: @presenter) %>
    <%= render Dashboard::InProgressCollectionComponent.new(presenter: @presenter) %>
    <%= render Dashboard::ApprovalsComponent.new(presenter: @presenter) %>
    <section id="your-collections" class="yourCollections" data-controller="purl-reservation">
      <% if allowed_to?(:create?, Collection) %>
        <%= link_to '+ Create a new collection', new_first_draft_collection_path, class: "btn btn-outline-primary float-end" %>
      <% end %>
      <button class="btn collapse-header" data-bs-toggle="collapse" data-bs-target="#your-collections-table" role="button" aria-expanded="true" aria-controls="your-collections-table">
        Your collections
      </button>

      <%= turbo_stream_from :summary %>
      <%= turbo_stream_from :summary_rows %>

      <ul class="collections show" id="your-collections-table">
        <%= render partial: 'collection_without_user', collection: @presenter.collections, as: :collection %>
      </ul>

      <%= render Works::PurlReservationModalComponent.new %>
      <%= render CitationModalComponent.new %>
    </section>

    <%= render Works::WorkTypeModalComponent.new %>
  </div>
</main>
