<% content_for :breadcrumbs do %>
  <%= render BreadcrumbNavComponent.new(show_dashboard: true) %>
<% end %>
<main class="mb-3 mb-md-5" id="content">
  <div class="container px-4 px-md-3" id="dashboard">
    <%= render Dashboard::ContinueWorkModalComponent.new(presenter: @presenter) %>
    <%= render Dashboard::InProgressComponent.new(presenter: @presenter) %>
    <%= render Dashboard::InProgressCollectionComponent.new(presenter: @presenter) %>
    <%= render Dashboard::ApprovalsComponent.new(presenter: @presenter) %>

    <section id="your-collections" data-controller="work-type purl-reservation">
      <header>Your collections
        <% if allowed_to?(:create?, Collection) %>
          <%= link_to '+ Create a new collection', new_first_draft_collection_path, class: "btn btn-outline-primary float-end" %>
        <% end %>
      </header>

      <%= turbo_stream_from :summary_rows %>

      <ul class="collections">
        <%= render Dashboard::CollectionComponent.with_collection(@presenter.collections) %>
      </ul>

      <%= render Works::WorkTypeModalComponent.new %>
      <%= render Works::PurlReservationModalComponent.new %>
      <%= render CitationModalComponent.new %>
    </section>

    <%= render Dashboard::AllCollectionsComponent.new(stats: @presenter.work_stats) %>
  </div>
</main>
