<% content_for :breadcrumbs do %>
  <%= render BreadcrumbNavComponent.new %>
<% end %>
<main class="mb-3 mb-md-5" id="content">
  <div class="container px-4 px-md-3" id="dashboard" data-controller="work-type work-type-modal">
    <%= render Dashboard::ProfileButtonComponent.new %>
    <h1 class="mb-3">Dashboard</h1>
    <%= render Dashboard::AdminButtonComponent.new %>
    <%= render Dashboard::PageContentComponent.new(page_content: @page_content, location: :top) %>
    <%= render Dashboard::ContinueDepositModalComponent.new(presenter: @presenter) %>
    <%= render Dashboard::InProgressComponent.new(presenter: @presenter) %>
    <%= render Dashboard::InProgressCollectionComponent.new(presenter: @presenter) %>
    <%= render Dashboard::ApprovalsComponent.new(presenter: @presenter) %>
    <section id="your-collections" class="yourCollections" data-controller="purl-reservation">
      <% if allowed_to?(:create?, Collection) %>
        <%= link_to '+ Create a new collection', new_first_draft_collection_path, class: 'btn btn-outline-primary float-end' %>
      <% end %>
      <button class="btn collapse-header" data-bs-toggle="collapse" data-bs-target="#your-collections-table" role="button" aria-expanded="true" aria-controls="your-collections-table">
        Your collections
      </button>

      <%= turbo_stream_from :summary %>
      <%= turbo_stream_from :summary_rows %>

      <div class="collections show" id="your-collections-table">
        <%= render partial: 'collection_without_user', collection: @presenter.collections, as: :collection %>
      </div>

      <%= render Works::PurlReservationModalComponent.new %>
      <%= render CitationModalComponent.new %>
      <%= render Dashboard::PageContentComponent.new(page_content: @page_content, location: :bottom) %>
    </section>
    <%= link_to("Don't see an appropriate collection?", '#contactUsModal',
                class: 'text-decoration-underline',
                data: {
                  bs_toggle: 'modal',
                  bs_target: '#contactUsModal',
                  bs_showCollections: 'true'
                }) %>
    <%= render Works::WorkTypeModalComponent.new %>
  </div>
</main>
