<main class="mb-3 mb-md-5" id="content">
  <div class="container px-4 px-md-3" id="dashboard">
    <%= render Dashboard::InProgressComponent.new(presenter: @presenter) %>
    <%= render Dashboard::ApprovalsComponent.new(presenter: @presenter) %>

    <section data-controller="work-type">
      <header>Your collections
        <% if allowed_to?(:create?, Collection) %>
          <%= link_to '+ Create a new collection', new_collection_path, class: "btn btn-outline-primary float-end" %>
        <% end %>
      </header>
      <% if @presenter.collections.present? %>
        <ul class="collections">
          <% @presenter.collections.each do |collection| %>
            <li class="mb-5">
              <%= render Dashboard::CollectionComponent.new(collection: collection) %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <div class="modal fade" id="workTypeModal" tabindex="-1" aria-labelledby="content-type-prompt" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <%= render Works::WorkTypeModalComponent.new %>
          </div>
        </div>
      </div>
    </section>

    <%= render Dashboard::AllCollectionsComponent.new(stats: @presenter.work_stats) %>
  </div>
</main>
