<section data-controller="complex-radio file-uploads" id="file" data-new-user-version-target="fileSection">
  <h2 class="h5 fw-bold">
    <% if has_attached_files? %>
      Modify your files *
    <% else %>
      Add your files *
    <% end %>
  </h2>

  <fieldset data-new-user-version-target="fileUploadsFieldset">
    <legend class="visually-hidden">Add or modify files</legend>
    <div class="form-check" data-complex-radio-target="selection">
      <% if browser_option? %>
        <%= form.radio_button :upload_type, 'browser', class: 'form-check-input', 'data-file-uploads-target': 'browserRadioButton',
                                                       data: { action: 'complex-radio#disableUnselectedInputs file-uploads#updatePanelVisibility deposit-button#updateDepositButtonStatus' } %>
        <%= form.label :upload_type_browser, "Upload fewer than #{max_upload_files} files (total less than 10 GB) to be displayed as a flat list of files.", class: 'form-check-label fw-semibold' %>
        <div id="uploaded-files-panel" data-file-uploads-target="fileUploads">
          <div data-controller="dropzone" data-dropzone-max-file-size="10000" data-dropzone-max-files="<%= max_upload_files %>" data-dropzone-previews-container=".dropzone-files-previews">
            <fieldset>
              <div class="dropzone dropzone-default" data-dropzone-target="container">
                <%= form.file_field :files, multiple: true, direct_upload: true, namespace: 'flat_list', 'aria-label': 'Upload files',
                                            data: { dropzone_target: 'input' } %>
                <div class="dz-message needsclick text-secondary">
                  <p>Drop files here</p>
                </div>
              </div>
              <span style="margin: .7rem">or</span> <button type="button" class="dz-clickable btn btn-outline-primary">Choose files</button>
              <div class="invalid-feedback" data-dropzone-target="feedback">You must attach a file<%= error_message %></div>
              <div class="dropzone-previews dropzone-files-previews" data-dropzone-target="previewsContainer">
              </div>
              <div class="files-list">
                <%= render Works::Edit::FilesComponent.new(work_version: form.object.model[:work_version], form:) %>
              </div>
            </fieldset>

            <template data-dropzone-target='template'>
              <%= form.fields_for :attached_files, AttachedFile.new, child_index: 'TEMPLATE_RECORD' do |file_form| %>
                <%= render Works::Edit::FileRowComponent.new(form: file_form) %>
              <% end %>
            </template>
          </div>
        </div>
      </div>
      <% else %>
      <div class="form-check pt-3" data-complex-radio-target="selection">
        <%= form.radio_button :upload_type, 'browser', class: 'form-check-input', 'data-file-uploads-target': 'browserRadioButton',
                                                       data: { action: 'complex-radio#disableUnselectedInputs file-uploads#updatePanelVisibility deposit-button#updateDepositButtonStatus' } %>
        <%= form.label :upload_type_browser, "Keep the more than #{max_upload_files} files uploaded.", class: 'form-check-label fw-semibold' %>
        <p style="color: var(--stanford-warning);">
          <strong>
            You have more than <%= max_upload_files %> files in your deposit. We can not display all of your files here, but if you need to make changes, select one of the two options below.
          </strong>
        </p>
      </div>
      <% end %>
    <div class="form-check pt-3" data-complex-radio-target="selection">
      <%= form.radio_button :upload_type, 'zipfile', class: 'form-check-input',
                                                     data: { action: 'complex-radio#disableUnselectedInputs file-uploads#updatePanelVisibility deposit-button#updateDepositButtonStatus', file_uploads_target: 'zipRadioButton' } %>
      <%= form.label :upload_type_zipfile, "Upload a single zip file (containing fewer than #{number_with_delimiter(Settings.max_files_in_zip)} files and less than 10GB total), which will be unzipped, including any hierarchy.", class: 'form-check-label fw-semibold' %>
      <div id="zip-files-panel" data-file-uploads-target="zipUpload">
        <p>Viewers will see the file hierarchy and be able to download individual files. Unzipping may take several minutes if your zip file contains a large number of individual files.</p>
        <p><strong>Warning:</strong> this file upload option will automatically replace all existing files on your item with the content in the new zip file.</p>
        <div data-controller="dropzone" data-dropzone-max-file-size="10000" data-dropzone-max-files="1"
            data-dropzone-accepted-files=".zip" data-dropzone-clickable=".dz-zip-clickable"
            data-dropzone-previews-container=".dropzone-zip-previews">
          <fieldset>
            <div class="dropzone dropzone-default" data-dropzone-target="container">
              <%= form.file_field :files, multiple: false, direct_upload: true, namespace: 'zip', 'aria-label': 'Upload files',
                                          data: { dropzone_target: 'input' } %>
              <div class="dz-message needsclick text-secondary">
                <p>Drop zip file here</p>
              </div>
            </div>
            <span style="margin: .7rem">or</span> <button type="button" class="dz-zip-clickable btn btn-outline-primary">Choose file</button>
            <div class="invalid-feedback" data-dropzone-target="feedback">You must attach a file<%= error_message %></div>
            <div class="dropzone-previews dropzone-zip-previews" data-dropzone-target="previewsContainer">
            </div>
          </fieldset>

          <template data-dropzone-target='template'>
            <%= form.fields_for :attached_files, AttachedFile.new, child_index: 'TEMPLATE_RECORD' do |file_form| %>
              <%= render Works::Edit::FileRowComponent.new(form: file_form, zip_template: true) %>
            <% end %>
          </template>
        </div>
      </div>
    </div>
    <div class="form-check pt-3" data-complex-radio-target="selection">
      <%= form.radio_button :upload_type, 'globus', class: 'form-check-input', 'data-file-uploads-target': 'globusRadioButton', 'data-deposit-button-target': 'globusRadioButton',
                                                    data: { action: 'complex-radio#disableUnselectedInputs file-uploads#updatePanelVisibility deposit-button#updateDepositButtonStatus' } %>
      <%= form.label :upload_type_globus, "Upload one or more files via Globus (fewer than #{number_with_delimiter(Settings.max_files_in_zip)} files and less than 4TB total) which will be displayed as uploaded, including any file hierarchy.", class: 'form-check-label fw-semibold' %>

      <div data-file-uploads-target="globusUpload">
        <p>Please notify us at <a href="mailto:sdr-contact@lists.stanford.edu">sdr-contact@lists.stanford.edu</a> if you are uploading 1TB or more of content.</p>
        <div class="container py-4">
          <ol class="row g-3 list-unstyled">
            <li class="col">
              <div class="border border-dark h-100 p-2 bg-light">
                <p>STEP 1</p>
                <p>If your files are located on Stanford Google Drive, Oak, or Sherlock, select where they are located below.</p>
                <%= form.select :globus_origin, origin_options, {}, { class: 'form-select', 'aria-label': 'Origin for Globus deposit' } %>
              </div>
            </li>
            <li class="col">
              <div class="border border-dark h-100 p-2 bg-light">
                <p>STEP 2</p>
                <p>Scroll to the bottom of this page and click "Save as draft".</p>
                <p>You can finish filling out this form later.</p>
              </div>
            </li>
            <li class="col">
              <div class="border border-dark h-100 p-2 bg-light">
                <p>STEP 3</p>
                <p>Follow our <%= link_to 'instructions', Settings.globus.help_doc_url.to_s, target: :blank %> to set up Globus (may require software installation).</p>
                <p>Transfer your files to the location you'll see on your item page once you've saved this form.</p>
              </div>
            </li>
            <li class="col">
              <div class="border border-dark h-100 p-2 bg-light">
                <p>STEP 4</p>
                <p>Return to this page and make sure the form is complete. Then click "Deposit."</p>
                <p>This will move your files from Globus to SDR.</p>
              </div>
            </li>
          </ul>
        </div>
        <% if globus_endpoint? %>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="border border-dark h-100 p-2 ps-5 bg-light">
                <%= form.check_box :fetch_globus_files, { class: 'form-check-input form-check-input-lg', data: { deposit_button_target: 'globusCheckbox', action: 'deposit-button#updateDepositButtonStatus' } }, 'true', 'false' %>
                <%= form.label :fetch_globus_files,
                               'Check this box once all your files have completed uploading to Globus.',
                               class: 'form-check-label form-check-label-lg' %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </fieldset>
</section>
