<section data-controller="ordered-nested-form" data-ordered-nested-form-selector-value=".inner-container">
  <header aria-describedby="popover-work.author">
    Authors to include in citation
    <%= render PopoverComponent.new key: "work.author" %>
  </header>
  <p>When there are multiple authors, list them in the order they should appear in the citation. If you need to change the order of the authors, click the arrows to move individual authors up or down in the list.</p>

  <template data-ordered-nested-form-target='template'>
    <%= form.fields_for :authors, Author.new, child_index: "TEMPLATE_RECORD" do |contributor_form| %>
      <%= render Works::ContributorRowComponent.new(form: contributor_form, is_author: true) %>
    <% end %>
  </template>

  <%= form.fields_for :authors do |contributor_form| %>
    <%= render Works::ContributorRowComponent.new(form: contributor_form, is_author: true) %>
  <% end %>

  <div data-ordered-nested-form-target="add_item">
    <%= button_tag "+ Add another author", type: "button", class: "btn btn-outline-primary", data: {action: "ordered-nested-form#addAssociation"} %>
  </div>
</section>
