<section data-controller="ordered-nested-form" data-ordered-nested-form-selector-value=".inner-container">
  <header>
    Authors to include in citation
    <%= render PopoverComponent.new key: 'work.author' %>
  </header>
  <p>Reorder authors so they are in the correct order</p>

  <template data-ordered-nested-form-target='template'>
    <%= form.fields_for :authors, Author.new, child_index: 'TEMPLATE_RECORD' do |contributor_form| %>
      <%= render Works::AuthorRowComponent.new(form: contributor_form) %>
    <% end %>
  </template>

  <%= form.fields_for :authors do |contributor_form| %>
    <%= render Works::AuthorRowComponent.new(form: contributor_form) %>
  <% end %>

  <div data-ordered-nested-form-target="add_item">
    <%= button_tag '+ Add another author', type: 'button', class: "btn btn-outline-primary", data: { action: "ordered-nested-form#addAssociation" } %>
  </div>
</section>
