<div data-deposit-button-target="globusMessage" class="row justify-content-end">
  <div class="col-8">
    <p>Save as draft now. Once you have completed transferring files to Globus, return here to Deposit.</p>
  </div>
</div>
<div class="row justify-content-between">
  <div class="col-auto">
    <% if show_first_draft_cancel? %>
      <%= link_to model, method: :delete, aria: { label: "Delete #{title}" },
            data: {
               confirm: "Are you sure you want to delete this draft work? It cannot be undone.",
               action: 'unsaved-changes#allowFormSubmission'
            } do %>
        <span class="btn btn-primary"><span class="fa-regular fa-trash-alt"></span> Discard draft</span>
      <% end %>
    <% elsif show_version_draft_cancel? %>
      <%= link_to work_version, method: :delete, aria: { label: "Delete #{title}" },
            data: {
              confirm: "Are you sure you want to revert to the previously published version? It cannot be undone.",
              action: 'unsaved-changes#allowFormSubmission'
            } do %>
        <span class="btn btn-primary"><span class="fa-regular fa-trash-alt"></span> Discard draft</span>
      <% end %>
    <% end %>
  </div>
  <div class="col-auto">
    <%= link_to 'Cancel', cancel_link_location, class: 'btn btn-link' %>
    <%= form.submit 'Save as draft', class: 'btn btn-primary', id: 'save-draft-button',
                                     data: { action: 'unsaved-changes#allowFormSubmission' } %>
    <%= form.submit submit_button_label, class: 'btn btn-primary',
                                         disabled: false,
                                         data: { action: 'unsaved-changes#allowFormSubmission', deposit_button_target: 'depositButton' } %>
  </div>
</div>
