<div class="row inner-container contributor-row" data-controller="contributors" data-contributors-required-value="<%= author? %>">
  <% namespace = author? ? "author" : "contributor" %>
  <div class="col-md-11">
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-md-2">
        <%= form.label :contributor_type, contributor_type_label, class: "form-label" %>
      </div>
      <div class="col-md-2">
        <%= form.radio_button :contributor_type, "person", class: "form-check-input", checked: person?, data: {action: "contributors#contributorTypeChanged"}, "data-contributors-target": "contributorTypePerson" %>
        <%= label_tag "contributor_type_person", I18n.t("contributor.roles.person") %>
      </div>
      <div class="col-md-4">
        <%= form.radio_button :contributor_type, "organization", class: "form-check-input", checked: organization?, data: {action: "contributors#contributorTypeChanged"}, "data-contributors-target": "contributorTypeOrganization" %>
        <%= label_tag "contributor_type_organization", I18n.t("contributor.roles.organization") %>
      </div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-md-2">
        <%= form.label :role_term, role_term_label, class: "form-label" %>
        <%= render PopoverComponent.new key: "work.role_term" %>
      </div>
      <div class="col-md-4">
        <div data-contributors-target="selectPersonRole">
          <%= select_person_role %>
        </div>
        <div data-contributors-target="selectOrganizationRole">
          <%= select_organization_role %>
        </div>
      </div>
      <div class="col-md-6">
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col" data-contributors-target="person">
        <fieldset>
          <div class="form-check">
            <%= form.radio_button :with_orcid, "false", html_options_for_radio(true, !orcid?) %>
            <%= form.label :with_orcid, "Enter author name", value: "false", class: "form-check-label fw-semibold" %>
          </div>
          <div class="row person-identifier-row" data-contributors-target="personName">
            <div class="col-md-5">
              <%= form.label :first_name, first_name_label, class: "form-label" %>
              <%= render PopoverComponent.new key: "work.first_name" %>
              <%= form.text_field :first_name, html_options("contributorFirst", disabled: orcid?).merge("aria-describedby": "popover-work.first_name") %>
              <div class="invalid-feedback">You must provide a first name</div>
            </div>
            <div class="col-md-6">
              <%= form.label :last_name, last_name_label, class: "form-label" %>
              <%= form.text_field :last_name, html_options("contributorLast", disabled: orcid?) %>
              <div class="invalid-feedback">You must provide a last name</div>
            </div>
            <%= form.hidden_field :orcid %>
          </div>

          <div class="row">
            <div class="col-md-1 pb-2"><strong>OR</strong></div>
          </div>

          <div class="form-check">
            <%= form.radio_button :with_orcid, "true", html_options_for_radio(false, orcid?) %>
            <%= form.label :with_orcid, "Enter ORCID iD", value: "true", class: "form-check-label fw-semibold" %>
          </div>
          <div class="row person-identifier-row" data-contributors-target="personOrcid">
            <% text_field_id_prefix = "work_#{namespace}_orcid_#{form.options[:child_index]}_" %>
            <div class="col">
              <%= form.label :orcid, orcid_label, for: "#{text_field_id_prefix}id", class: "form-label" %>
              <%= render PopoverComponent.new key: "work.orcid" %>
              <%= form.text_field :orcid, class: "form-control", required: author?, id: "#{text_field_id_prefix}id", data: {contributors_target: "orcid", action: "contributors#lookupOrcid"}, "aria-describedby": "popover-work.orcid" %>
              <div class="invalid-feedback" data-contributors-target="orcidFeedback">You must provide an ORCID iD</div>
              <div data-contributors-target="personOrcidName">
                <div class="form-text" data-contributors-target="orcidDisplayName"></div>
                <div class="row">
                  <div class="col-md-5">
                    <%= form.label :first_name, first_name_label, for: "#{text_field_id_prefix}first_name", class: "form-label" %>
                    <%= render PopoverComponent.new key: "work.orcid_name" %>
                    <%= form.text_field :first_name, html_options("contributorFirst", contributors_target: "orcidFirstName", disabled: !orcid?).merge(id: "#{text_field_id_prefix}first_name", "aria-describedby": "popover-work.orcid_name") %>
                    <div class="invalid-feedback">You must provide a first name</div>
                  </div>
                  <div class="col-md-6">
                    <%= form.label :last_name, last_name_label, for: "#{text_field_id_prefix}last_name", class: "form-label" %>
                    <%= form.text_field :last_name, html_options("contributorLast", contributors_target: "orcidLastName", disabled: !orcid?).merge(id: "#{text_field_id_prefix}last_name") %>
                    <div class="invalid-feedback">You must provide a last name</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <%= render Works::AffiliationsComponent.new(form: form) %>
      </div>
      <div class="col" data-contributors-target="organization">
        <%= form.label :full_name, organization_label, class: "form-label" %>
        <%= render PopoverComponent.new key: "work.organization" %>
        <%= form.text_field :full_name, html_options("contributorOrg").merge("aria-describedby": "popover-work.organization") %>
        <div class="invalid-feedback">You must provide a name</div>
      </div>
    </div>
  </div>
  <div class="col-md-1 text-end">
    <%= button_tag html_options_for_delete do %>
      <span class="fa-regular fa-trash-alt"></span>
    <% end %>
    <%= form.hidden_field :_destroy %>
    <% if author? %>
      <%= form.hidden_field :weight %>
      <div>
        <%= button_tag type: "button", class: "btn btn-sm", aria: {label: "Move up"},
              data: {
                action: "click->ordered-nested-form#moveUp auto-citation#updateDisplay",
                ordered_nested_form_target: "upButton"
              } do %>
          <span class="fa-solid fa-arrow-up"></span>
        <% end %>
      </div>
      <div>
        <%= button_tag type: "button", class: "btn btn-sm", aria: {label: "Move down"},
              data: {
                action: "click->ordered-nested-form#moveDown auto-citation#updateDisplay",
                ordered_nested_form_target: "downButton"
              } do %>
          <span class="fa-solid fa-arrow-down"></span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
