<div class="mb-3" data-controller="nested-form">

  <template data-nested-form-target='template'>
    <%= form.fields_for :contact_emails, ContactEmail.new, child_index: 'TEMPLATE_RECORD' do |email_form| %>
      <%= render Works::ContactEmailRowComponent.new(form: email_form) %>
    <% end %>
  </template>

  <%= form.fields_for :contact_emails do |email_form| %>
    <%= render Works::ContactEmailRowComponent.new(form: email_form) %>
  <% end %>

  <div data-nested-form-target="add_item">
    <%= button_tag '+ Add another contact email', type: 'button', class: "col-sm-2 btn btn-outline-primary",  data: { action: "nested-form#addAssociation" } %>
  </div>
</div>
