<div class="mb-3 row plain-container">
  <div class="col-sm-2">
    <%= form.label :email, 'Contact email', class: 'col-form-label' %> <%= tooltip %>
  </div>
  <div class="<%= bootstrap_classes %>">
    <%= form.email_field :email, class: "form-control", pattern: Devise.email_regexp.source %>
    <div class="invalid-feedback">You must provide a valid email address</div>
  </div>
  <% if not_first_email? %>
  <div class="col-sm-1">
    <%= button_tag type: 'button', class: 'btn btn-sm float-end', aria: { label: 'Remove' },
     data: { action: "click->nested-form#removeAssociation",
             plain: true } do %>
      <span class="far fa-trash-alt"></span>
    <% end %>
    <%= form.hidden_field :_destroy %>
  </div>
  <% end %>
</div>
