<section data-controller="nested-form">
  <header>Additional contributors (optional)</header>
  <p>Names will be listed in the order shown below.</p>

  <template data-nested-form-target='template'>
    <%= form.fields_for :contributors, Contributor.new, child_index: 'TEMPLATE_RECORD' do |contributor_form| %>
      <%= render Works::ContributorRowComponent.new(form: contributor_form) %>
    <% end %>
  </template>

  <%= form.fields_for :contributors do |contributor_form| %>
    <%= render Works::ContributorRowComponent.new(form: contributor_form) %>
  <% end %>

  <div data-nested-form-target="add_item">
    <%= button_tag '+ Add another contributor', type: 'button', class: "btn btn-outline-primary", data: { action: "nested-form#addAssociation" } %>
  </div>
</section>
