<section>
  <header>Enter dates related to your deposit (optional)</header>
  <div class="mb-3 row">
    <div class="col-sm-2">
      Publication date
    </div>
    <div class="col-sm-8 row">
      <div class="col">
        <label for="work[published(1i)]" class="visually-hidden">Publication year</label>
        <%= number_field_tag 'work[published(1i)]', nil, class: "form-control", max: Date.today.year %>
      </div>
      <div class="col">
        <%= select_month nil, { prefix: 'work', field_name: 'published(2i)', prompt: 'month'}, class: "form-control" %>
      </div>

      <div class="col">
        <%= select_day nil, { prefix: 'work', field_name: 'published(3i)', prompt: 'day'}, class: "form-control" %>
      </div>

    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2">
      Creation date
    </div>
    <%= form.label :created_edtf, 'Date created', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-8">
      <%= form.text_field :created_edtf, class: "form-control", required: true %>
    </div>
  </div>
</section>
