<section id="dates" data-controller="complex-radio">
  <header>Enter dates related to your deposit (optional)</header>
  <%= render Works::PublicationDateComponent.new(form: form,
                                                 min_year: min_year,
                                                 max_year: max_year) %>

  <div class="mb-3 row">
    <div class="col-sm-3 h6">
      Creation date
    </div>
  </div>

  <div class="mb-3 row" data-complex-radio-target="selection">
    <div class="col-sm-2">
      <%= form.radio_button :created_type, 'single', class: 'form-check-input', data: { action: 'complex-radio#disableUnselectedInputs' } %>
      <%= form.label :created_type_single, 'Single date' %>
    </div>
    <div data-controller="date-validation" class="col-sm-10">
      <div class="year">
        <label for="work_created_year" class="visually-hidden">Created year</label>
        <%= number_field_tag 'work[created(1i)]', created_year, data: { date_validation_target: 'year', action: 'date-validation#change' }, id: 'work_created_year', class: "form-control", min: min_year, max: max_year %>
        <div class="invalid-feedback">Created year must be between <%= min_year %> and <%= max_year %></div>
      </div>
      <div class="month">
        <label for="work_created_month" class="visually-hidden">Created month</label>
        <%= select_month created_month, { prefix: 'work', field_name: 'created(2i)', prompt: 'month'}, data: { date_validation_target: 'month', action: 'date-validation#change' }, id: 'work_created_month', class: "form-control" %>
      </div>

      <div class="day">
        <label for="work_created_day" class="visually-hidden">Created day</label>
        <%= select_day created_day, { prefix: 'work', field_name: 'created(3i)', prompt: 'day'}, data: { date_validation_target: 'day', action: 'date-validation#change' }, id: 'work_created_day', class: "form-control" %>
      </div>
       <div>
       <%= check_box_tag 'work[created(approx0)]', true, created_approximate? %>
       <%= form.label 'created(approx0)', 'Approximate' %>
      </div>
    </div>
  </div>


  <div class="mb-3 row" data-complex-radio-target="selection">
    <div class="col-md-2">
      <%= form.radio_button :created_type, 'range', class: 'form-check-input', data: { action: 'complex-radio#disableUnselectedInputs' } %>
       <%= form.label :created_type_range, 'Date range' %>
    </div>

    <div class="col-md-10 date-range">
      <div class="start-date" data-controller="date-validation">
        <div class="year">
          <label for="work_created_range_start_year" class="visually-hidden">Created range start year</label>
          <%= number_field_tag 'work[created_range(1i)]', created_range_start_year,
              data: { date_validation_target: 'year', action: 'date-validation#change' },
              id: 'work_created_range_start_year',
              class: "form-control", min: min_year, max: max_year %>
          <div class="invalid-feedback">Created year must be between <%= min_year %> and <%= max_year %></div>
        </div>
        <div class="month">
          <label for="work_created_range_start_month" class="visually-hidden">Created range start month</label>
          <%= select_month created_range_start_month,
              { prefix: 'work', field_name: 'created_range(2i)', prompt: 'month'},
              data: { date_validation_target: 'month', action: 'date-validation#change' },
              id: 'work_created_range_start_month',
              class: "form-control" %>
        </div>
        <div class="day">
          <label for="work_created_range_start_day" class="visually-hidden">Created range start day</label>
          <%= select_day created_range_start_day,
              { prefix: 'work', field_name: 'created_range(3i)', prompt: 'day'},
              data: { date_validation_target: 'day', action: 'date-validation#change' },
              id: 'work_created_range_start_day',
              class: "form-control" %>
        </div>
        <div>
         <%= check_box_tag 'work[created_range(approx0)]', true, created_range_start_approximate? %>
         <label for='work_created_range_start_approx'>Approximate</label>
        </div>
      </div>

      <div class="range-separator">
        to
      </div>

      <div class="end-date" data-controller="date-validation">
        <div class="year">
          <label for="work_created_range_end_year" class="visually-hidden">Created range end year</label>
          <%= number_field_tag 'work[created_range(4i)]', created_range_end_year,
              data: { date_validation_target: 'year', action: 'date-validation#change' },
              id: 'work_created_range_end_year', class: "form-control", min: min_year, max: max_year %>
          <div class="invalid-feedback">Created year must be between <%= min_year %> and <%= max_year %></div>
        </div>
        <div class="month">
          <label for="work_created_range_end_month" class="visually-hidden">Created range end month</label>
          <%= select_month created_range_end_month,
              { prefix: 'work', field_name: 'created_range(5i)', prompt: 'month' },
              data: { date_validation_target: 'month', action: 'date-validation#change' },
              id: 'work_created_range_end_month', class: "form-control" %>
        </div>

        <div class="day">
          <label for="work_created_range_end_day" class="visually-hidden">Created range end day</label>
          <%= select_day created_range_end_day,
              { prefix: 'work', field_name: 'created_range(6i)', prompt: 'day' },
              data: { date_validation_target: 'day', action: 'date-validation#change' },
              id: 'work_created_range_end_day', class: "form-control" %>
        </div>
        <div>
         <%= check_box_tag 'work[created_range(approx3)]', true, created_range_end_approximate? %>
         <label for='work_created_range_end_approx'>Approximate</label>
        </div>
      </div>
    </div>
  </div>

</section>
