<section id="dates">
  <header aria-describedby="popover-work.date">Enter dates related to your deposit
    <%= render PopoverComponent.new key: "work.date" %>
  </header>
  <%= render Works::PublicationDateComponent.new(form: form,
        min_year: min_year,
        max_year: max_year) %>

  <fieldset data-controller="date-choice">

    <legend class="visually-hidden">Creation date</legend>

    <div class="mb-3 row">
      <div class="col-sm-2 h6" aria-describedby="popover-work.creation_date">
        Creation date
        <%= render PopoverComponent.new key: "work.creation_date" %>
      </div>
      <div class="col-sm-10">
        <div class="row ms-1">
          <div class="col form-check">
            <%= form.check_box :created_type, {class: "form-check-input", data: {"date-choice-target": "checkbox", action: "date-choice#toggleInputs"}}, "range", "single" %>
            <%= form.label :created_type, "Enter a date range", class: "form-check-label" %>
          </div>
        </div>
        <div class="row">
          <div data-controller="date-validation date-approximate date-clear"
            data-date-approximate-enabled-value="<%= single? %>"
            data-date-choice-target="uncheckedSection"
            class="col-sm-10 date">
            <div class="year">
              <label for="<%= prefix %>_created_year" class="visually-hidden">Created year</label>
              <%= number_field_tag "#{prefix}[created(1i)]", created_year,
                    data: {
                      date_validation_target: "year",
                      date_clear_target: "year",
                      action: "date-validation#change"
                    },
                    id: "#{prefix}_created_year",
                    autocomplete: "off",
                    placeholder: "year",
                    class: "form-control", min: min_year, max: max_year %>
              <div class="invalid-feedback"
                data-date-validation-target="error"
                data-date-clear-target="error"></div>
            </div>
            <div class="month">
              <label for="<%= prefix %>_created_month" class="visually-hidden">Created month</label>
              <%= select_month created_month, {prefix: prefix, field_name: "created(2i)", prompt: "month"},
                    data: {date_validation_target: "month",
                           date_clear_target: "month",
                           action: "date-validation#change"},
                    id: "#{prefix}_created_month", class: "form-control" %>
            </div>

            <div class="day">
              <label for="<%= prefix %>_created_day" class="visually-hidden">Created day</label>
              <%= select_day created_day, {prefix: prefix, field_name: "created(3i)", prompt: "day"},
                    data: {date_validation_target: "day",
                           date_approximate_target: "day",
                           date_clear_target: "day",
                           action: "date-validation#change date-approximate#change"},
                    id: "#{prefix}_created_day", class: "form-control" %>
            </div>
            <%= button_tag type: "button", class: "btn btn-sm ms-3", aria: {label: "Clear created date"},
                  data: {action: "date-clear#clear"} do %>
              <span class="fa-regular fa-trash-alt"></span>
            <% end %>
            <div>
            <%= check_box_tag "#{prefix}[created(approx0)]", true, created_approximate?,
                  data: {date_approximate_target: "approximate",
                         date_clear_target: "approximate",
                         action: "date-approximate#change"},
                  class: "form-check-input" %>
            <%= form.label "created_approx0_", "Approximate (can't be selected if 'day' is entered)" %>
            </div>
          </div>

          <div class="col-md-10 date-range" data-controller="date-range date-clear" data-date-choice-target="checkedSection">
            <div class="start-date" data-controller="date-validation date-approximate" data-date-approximate-enabled-value="<%= !single? %>">
              <div class="year">
                <label for="<%= prefix %>_created_range_start_year" class="visually-hidden">Created range start year</label>
                <%= date_range_start_year %>
                <div class="invalid-feedback" data-date-validation-target="error" data-date-clear-target="error"></div>
                <div class="invalid-feedback" data-date-range-target="startError" data-date-clear-target="error"></div>
              </div>
              <div class="month">
                <label for="<%= prefix %>_created_range_start_month" class="visually-hidden">Created range start month</label>
                <%= select_month created_range_start_month,
                      {prefix: prefix, field_name: "created_range(2i)", prompt: "month"},
                      data: {date_validation_target: "month",
                             date_range_target: "startMonth",
                             date_clear_target: "month",
                             action: "date-range#change"},
                      id: "#{prefix}_created_range_start_month",
                      class: "form-control" %>
              </div>
              <div class="day">
                <label for="<%= prefix %>_created_range_start_day" class="visually-hidden">Created range start day</label>
                <%= select_day created_range_start_day,
                      {prefix: prefix, field_name: "created_range(3i)", prompt: "day"},
                      data: {date_validation_target: "day",
                             date_range_target: "startDay",
                             date_approximate_target: "day",
                             date_clear_target: "day",
                             action: "date-range#change date-approximate#change"},
                      id: "#{prefix}_created_range_start_day",
                      class: "form-control" %>
              </div>
              <div>
              <%= check_box_tag "#{prefix}[created_range(approx0)]", true, created_range_start_approximate?,
                    data: {date_approximate_target: "approximate",
                           date_clear_target: "approximate",
                           action: "date-approximate#change"},
                    class: "form-check-input" %>
              <label for="<%= prefix %>_created_range_start_approx0_">Approximate (can't be selected if 'day' is entered)</label>
              </div>
            </div>

            <div class="range-separator">
              to
            </div>

            <div class="end-date" data-controller="date-validation date-approximate" data-date-approximate-enabled-value="<%= form.object.created_type == "range" %>">
              <div class="year">
                <label for="<%= prefix %>_created_range_end_year" class="visually-hidden">Created range end year</label>
                <%= date_range_end_year %>
                <div class="invalid-feedback" data-date-validation-target="error" data-date-clear-target="error"></div>
                <div class="invalid-feedback" data-date-range-target="endError" data-date-clear-target="error"></div>
              </div>
              <div class="month">
                <label for="<%= prefix %>_created_range_end_month" class="visually-hidden">Created range end month</label>
                <%= select_month created_range_end_month,
                      {prefix: prefix, field_name: "created_range(5i)", prompt: "month"},
                      data: {date_validation_target: "month",
                             date_clear_target: "month",
                             date_range_target: "endMonth",
                             action: "date-range#change"},
                      id: "#{prefix}_created_range_end_month", class: "form-control" %>
              </div>

              <div class="day">
                <label for="<%= prefix %>_created_range_end_day" class="visually-hidden">Created range end day</label>
                <%= select_day created_range_end_day,
                      {prefix: prefix, field_name: "created_range(6i)", prompt: "day"},
                      data: {date_validation_target: "day",
                             date_range_target: "endDay",
                             date_clear_target: "day",
                             date_approximate_target: "day",
                             action: "date-range#change date-approximate#change"},
                      id: "#{prefix}_created_range_end_day", class: "form-control" %>
              </div>
              <%= button_tag type: "button", class: "btn btn-sm ms-3", aria: {label: "Clear created date range"},
                    data: {action: "date-clear#clear"} do %>
                <span class="fa-regular fa-trash-alt"></span>
              <% end %>
              <div>
              <%= check_box_tag "#{prefix}[created_range(approx3)]", true, created_range_end_approximate?,
                    data: {date_approximate_target: "approximate",
                           date_clear_target: "approximate",
                           action: "date-approximate#change"},
                    class: "form-check-input" %>
              <label for="<%= prefix %>_created_range_end_approx3_">Approximate (can't be selected if 'day' is entered)</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</section>
