<section id="dates">
  <header>Enter dates related to your deposit (optional)</header>
  <div class="mb-3 row">
    <div class="col-sm-2 h6">
      Publication date
    </div>
    <div class="col-sm-10">
      <div class="year">
        <label for="work_published_year" class="visually-hidden">Publication year</label>
        <%= number_field_tag 'work[published(1i)]', published_year, id: 'work_published_year', class: "form-control", min: earliest_year, max: Time.zone.today.year %>
        <div class="invalid-feedback">Publication year must be between <%= earliest_year %> and <%= Time.zone.today.year %></div>
      </div>
      <div class="month">
        <label for="work_published_month" class="visually-hidden">Publication month</label>
        <%= select_month published_month, { prefix: 'work', field_name: 'published(2i)', prompt: 'month'}, id: 'work_published_month', class: "form-control" %>
      </div>

      <div class="day">
        <label for="work_published_day" class="visually-hidden">Publication day</label>
        <%= select_day published_day, { prefix: 'work', field_name: 'published(3i)', prompt: 'day'}, id: 'work_published_day', class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-3 h6">
      Creation date
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2">
      <%= form.radio_button :created_type, 'single', class: 'form-check-input' %>
      <%= form.label :created_type_single, 'Single date' %>
    </div>
    <div class="col-sm-10">
      <div class="year">
        <label for="work_created_year" class="visually-hidden">Created year</label>
        <%= number_field_tag 'work[created(1i)]', created_year, id: 'work_created_year', class: "form-control", min: earliest_year, max: Time.zone.today.year %>
        <div class="invalid-feedback">Created year must be between <%= earliest_year %> and <%= Time.zone.today.year %></div>
      </div>
      <div class="month">
        <label for="work_created_month" class="visually-hidden">Created month</label>
        <%= select_month created_month, { prefix: 'work', field_name: 'created(2i)', prompt: 'month'}, id: 'work_created_month', class: "form-control" %>
      </div>

      <div class="day">
        <label for="work_created_day" class="visually-hidden">Created day</label>
        <%= select_day created_day, { prefix: 'work', field_name: 'created(3i)', prompt: 'day'}, id: 'work_created_day', class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-md-2">
      <%= form.radio_button :created_type, 'range', class: 'form-check-input' %>
       <%= form.label :created_type_range, 'Date range' %>
    </div>

    <div class="col-md-10 date-range">
      <div class="start-date">
        <div class="year">
          <label for="work_created_range_start_year" class="visually-hidden">Created range start year</label>
          <%= number_field_tag 'work[created_range(1i)]', created_range_start_year, id: 'work_created_range_start_year', class: "form-control", min: earliest_year, max: Time.zone.today.year %>
          <div class="invalid-feedback">Created year must be between <%= earliest_year %> and <%= Time.zone.today.year %></div>
        </div>
        <div class="month">
          <label for="work_created_range_start_month" class="visually-hidden">Created range start month</label>
          <%= select_month created_range_start_month, { prefix: 'work', field_name: 'created_range(2i)', prompt: 'month'}, id: 'work_created_range_start_month', class: "form-control" %>
        </div>
        <div class="day">
          <label for="work_created_range_start_day" class="visually-hidden">Created range start day</label>
          <%= select_day created_range_start_day, { prefix: 'work', field_name: 'created_range(3i)', prompt: 'day'}, id: 'work_created_range_start_day', class: "form-control" %>
        </div>
      </div>

      <div class="range-separator">
        to
      </div>

      <div class="end-date">
        <div class="year">
          <label for="work_created_range_end_year" class="visually-hidden">Created range end year</label>
          <%= number_field_tag 'work[created_range(4i)]', created_range_end_year, id: 'work_created_range_end_year', class: "form-control", min: earliest_year, max: Time.zone.today.year %>
          <div class="invalid-feedback">Created year must be between <%= earliest_year %> and <%= Time.zone.today.year %></div>
        </div>
        <div class="month">
          <label for="work_created_range_end_month" class="visually-hidden">Created range end month</label>
          <%= select_month created_range_end_month, { prefix: 'work', field_name: 'created_range(5i)', prompt: 'month'}, id: 'work_created_range_end_month', class: "form-control" %>
        </div>

        <div class="day">
          <label for="work_created_range_end_day" class="visually-hidden">Created range end day</label>
          <%= select_day created_range_end_day, { prefix: 'work', field_name: 'created_range(6i)', prompt: 'day'}, id: 'work_created_range_end_day', class: "form-control" %>
        </div>
      </div>
    </div>
  </div>
</section>
