<section class="details" id="<%= dom_id(work) %>" data-controller="work-type">
  <% if display_approval? %>
    <div class="alert alert-warning alert-dismissible visible-to-depositor" role="alert">
      Your deposit has been sent for approval. You will receive an email once your deposit has been approved.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <% if rejected? %>
    <div class="alert alert-danger alert-dismissible text-dark" role="alert">
      <h3>Approver has returned your deposit</h3>
      <p>Fix the following and then submit it again for approval.</p>
      <div class="p-3"><%= rejection_reason %></div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <header class="title">
    <span class="header-text"><%= title %></span>
    <%= render Works::EditLinkComponent.new(work_version: work_version, anchor: '') %>
    <span class="state"><%= render Works::StateDisplayComponent.new(work_version: work_version) %></span>
    <%= render Works::EditButtonComponent.new(work_version: work_version) %>
  </header>

  <table class="table table-sm mb-5 caption-header">
    <caption>Details</caption>
    <tbody>
      <tr>
        <th class="col-3" scope="row">Persistent link</th>
        <td>
          <% if purl %>
            <%= link_to purl, purl %>
            <a class="copy-button" data-controller="copy" data-copy-clip-value="<%= purl %>" data-action="copy#copy" aria-label="Copy persistent link" href=""><span class="fas fa-copy"></span></a>
          <% else %>
            <em>Link will become available once the work has been deposited.</em>
          <% end %>
        </td>
      </tr>
      <tr>
        <th class="col-3" scope="row">DOI</th>
        <td>
          <%= render Works::Show::DoiComponent.new(work_version: work_version) %>
        </td>
      </tr>
      <tr>
        <th class="col-3" scope="row">Collection</th>
        <td><%= link_to collection_name, collection %></td>
      </tr>
      <tr>
        <th class="col-3" scope="row">Deposit type</th>
        <td><%= work_type %></td>
      </tr>
      <tr>
        <th class="col-3" scope="row">Depositor</th>
        <td><%= depositor %></td>
      </tr>
      <tr>
        <th class="col-3" scope="row">Version details</th>
        <td><%= version %></td>
      </tr>
      <tr>
        <th class="col-3" scope="row">Deposit created</th>
        <td><%= created_at %></td>
      </tr>
      <!--
      <tr>
        <th scope="row">Version started</th>
        <td>NOT IMPLEMENTED</td>
      </tr>
      -->
      <tr>
        <th class="col-3" scope="row">Last saved</th>
        <td><%= updated_at %></td>
      </tr>
    </tbody>
  </table>

  <%= render Works::Show::FilesComponent.new work_version: work_version %>

  <table class="table table-sm mb-5 caption-header">
    <caption>Title and contact
      <%= render Works::EditLinkComponent.new(work_version: work_version, anchor: 'title', label: 'Edit title and contact') %>
    </caption>
    <tbody>
    <tr>
      <th class="col-3" scope="row">Title</th>
      <td><%= title %></td>
    </tr>
    <tr>
      <th class="col-3" >Contact emails</th>
      <% if contact_emails.empty? %>
      <td>None provided</td>
      <% else %>
      <td>
        <% contact_emails.each do |email| %>
         <%= email.email %>
        <% end %>
      </td>
      <% end %>
    </tr>
    </tbody>
  </table>

  <table id="contributors" class="table table-sm caption-header">
    <caption>Authors and contributors
      <%= render Works::EditLinkComponent.new(work_version: work_version, anchor: 'author', label: 'Edit authors and contributors') %>
    </caption>
    <tbody>
    <% contributors.each do |contributor| %>
      <tr>
        <% if contributor.person? %>
          <td>
            <%= contributor.first_name %> <%= contributor.last_name %>
          </td>
        <% else %>
          <td><%= contributor.full_name %></td>
        <% end %>
        <td><%= render Works::Show::OrcidComponent.new(orcid: contributor.orcid) %></td>
        <td><%= contributor.role %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <table class="table table-sm mb-5 caption-header">
    <caption>Dates
      <%= render Works::EditLinkComponent.new(work_version: work_version,anchor: 'dates', label: 'Edit dates') %>
    </caption>
    <tbody>
    <tr>
      <th class="col-3" scope="row">Publication date</th>
      <td><%= published %></td>
    </tr>
    <tr>
      <th class="col-3" scope="row">Creation date</th>
      <td><%= created %></td>
    </tr>
    </tbody>
  </table>

  <table class="table table-sm mb-5 caption-header">
    <caption>Description
      <%= render Works::EditLinkComponent.new(work_version: work_version,anchor: 'description', label: 'Edit description') %>
    </caption>
    <tbody>
    <tr>
      <th class="col-3" scope="row">Abstract</th>
      <td><%= simple_format abstract %></td>
    </tr>
    <tr>
      <th class="col-3" scope="row">Keywords</th>
      <td>
        <% keywords.each do |keyword| %>
          <p><%= keyword %></p>
        <% end %>
      </td>
    </tr>
    <tr>
      <th class="col-3" scope="row">Deposit subtypes</th>
      <td><%= subtypes %></td>
    </tr>
    <tr>
      <th scope="row">Preferred citation</th>
      <td data-work-updates-target="citation">
        <%= citation %>
      </td>
    </tr>
    <tr>
      <th class="col-3" scope="row">Related published work</th>
      <td>
        <% related_works.each do |related| %>
          <p><%= related.citation %></p>
        <% end %>
      </td>
    </tr>
    <tr>
      <th class="col-3" scope="row">Related link</th>
      <td>
        <% related_links.each do |link| %>
          <p><%= link_to link.link_title, link.url %></p>
        <% end %>
      </td>
    </tr>
    </tbody>
  </table>

  <table class="table table-sm mb-5 caption-header">
    <caption>Release and visibility
      <%= render Works::EditLinkComponent.new(work_version: work_version,anchor: 'release', label: 'Edit release data and visibility') %>
    </caption>
    <tbody>
    <tr>
      <th class="col-3" scope="row">Available</th>
      <td><%= embargo_date %></td>
    </tr>
    <tr>
      <th class="col-3" scope="row">Access</th>
      <td><%= access %></td>
    </tr>
    <tr>
      <th scope="row">DOI assignment</th>
      <td><%= doi_setting %></td>
    </tr>
    </tbody>
  </table>

  <table class="table table-sm mb-5 caption-header">
    <caption>Terms of use and license
      <%= render Works::EditLinkComponent.new(work_version: work_version,anchor: 'license', label: 'Edit terms of use and license') %>
    </caption>
    <tbody>
    <tr>
      <th class="col-3" scope="row">License</th>
      <td><%= license %></td>
    </tr>
    <tr>
      <th class="col-3" scope="row">Terms of use</th>
      <td><%= Settings.access.use_and_reproduction_statement %></td>
    </tr>
    </tbody>
  </table>

  <table class="table table-sm mb-5" id="events">
    <thead class="table-light">
      <tr>
        <th scope="col" class="table-title col-3">History</th>
        <th scope="col">Modified by</th>
        <th scope="col">Last modified</th>
        <th scope="col">Description of changes</th>
      </tr>
    </thead>
    <tbody>
      <% events.each do |event| %>
        <tr>
          <td><%= I18n.t event.event_type, scope: 'event.type' %></td>
          <td><%= event.user&.sunetid %></td>
          <td><%= render LocalTimeComponent.new(datetime: event.created_at) %></td>

          <td><%= event.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= render Works::WorkTypeModalComponent.new %>
</section>
