<section class="details">
  <% if display_approval? %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      Your deposit has been sent for approval. You will receive an email once your deposit has been approved.
      <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <% if work.rejected? %>
    <div class="alert alert-danger alert-dismissible text-dark" role="alert">
      <h3>Approver has returned your deposit</h3>
      <p>Fix the following and then submit it again for approval.</p>
      <div class="p-3"><%= rejection_reason %></div>
      <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <header class="title">
    <span class="header-text"><%= title %></span>
    <%= link_to edit_work_path(@work), aria: { label: "Edit #{title}"} do %><span class="fas fa-pencil-alt edit"></span><% end %>
    <span data-work-updates-target="state" class="state"><%= render Works::StateDisplayComponent.new(work: work) %></span>
  </header>

  <table class="table table-sm mb-5">
    <thead class="table-light">
    <tr>
      <th scope="col" class="table-title col-3">Details</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Persistent link</th>
        <td data-work-updates-target="url">
          <% if purl %>
            <%= link_to purl, purl %>
          <% else %>
            <em>Link will become available once the work has been deposited.</em>
          <% end %>
        </td>
      </tr>
    <tr>
      <th scope="row">Collection</th>
      <td><%= link_to collection.name, collection %></td>
    </tr>
    <tr>
      <th scope="row">Deposit type</th>
      <td><%= work_type %></td>
    </tr>
    <tr>
      <th scope="row">Depositor</th>
      <td><%= depositor %></td>
    </tr>
    <tr>
      <th scope="row">Version details</th>
      <td><%= version %></td>
    </tr>
    <tr>
      <th scope="row">Deposit created</th>
      <td><%= created_at %></td>
    </tr>
    <!--
    <tr>
      <th scope="row">Version started</th>
      <td>NOT IMPLEMENTED</td>
    </tr>
    -->
    <tr>
      <th scope="row">Last saved</th>
      <td><%= updated_at %></td>
    </tr>
    </tbody>
  </table>

  <table class="table table-sm mb-5">
    <thead class="table-light">
    <tr>
      <th scope="col" class="table-title col-3">Files<%= edit_link 'file', 'Edit files' %></th>
      <th scope="col">Description</th>
      <th scope="col">Hide file</th>
    </tr>
    </thead>
    <tbody>
      <% attached_files.each do |af| %>
        <tr>
          <td><%= af.filename %></td>
          <td><%= af.label %></td>
          <td><%= af.hide? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table class="table table-sm mb-5">
    <thead class="table-light">
    <tr>
      <th scope="col" class="table-title col-3">Title and contact<%= edit_link 'title', 'Edit title and contact' %></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Title</th>
      <td><%= title %></td>
    </tr>
    <tr>
      <th scope="row">Contact</th>
      <td><%= contact_email %></td>
    </tr>
    </tbody>
  </table>

  <table class="table table-sm">
    <thead class="table-light">
    <tr>
      <th scope="col" class="table-title col-3">Authors and contributors<%= edit_link 'author', 'Edit authors and contributors' %></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <% contributors.each do |contributor| %>
      <tr>
        <% if contributor.person? %>
          <td><%= contributor.first_name %> <%= contributor.last_name %></td>
        <% else %>
          <td><%= contributor.full_name %></td>
        <% end %>
        <td><%= contributor.role %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <table class="table table-sm mb-5">
    <thead class="table-light">
    <tr>
      <th scope="col" class="table-title col-3">Dates<%= edit_link 'dates', 'Edit dates' %></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Publication date</th>
      <td><%= published_edtf %></td>
    </tr>
    <tr>
      <th scope="row">Creation date</th>
      <td><%= created_edtf %></td>
    </tr>
    </tbody>
  </table>

  <table class="table table-sm mb-5">
    <thead class="table-light">
    <tr>
      <th scope="col" class="table-title col-3">Description<%= edit_link 'description', 'Edit description' %></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Abstract</th>
      <td><%= abstract %></td>
    </tr>
    <tr>
      <th scope="row">Keywords</th>
      <td><%= keywords %></td>
    </tr>
    <tr>
      <th scope="row">Deposit subtypes</th>
      <td><%= subtypes %></td>
    </tr>
    <tr>
      <th scope="row">Preferred citation</th>
      <td><%= citation %></td>
    </tr>
    <tr>
      <th scope="row">Related published work</th>
      <td>
        <% related_works.each do |related| %>
          <p><%= related.citation %></p>
        <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row">Related link</th>
      <td>
        <% related_links.each do |link| %>
          <p><%= link_to link.link_title, link.url %></p>
        <% end %>
      </td>
    </tr>
    </tbody>
  </table>

  <table class="table table-sm mb-5">
    <thead class="table-light">
    <tr>
      <th scope="col" class="table-title col-3">Release data and visibility<%= edit_link 'release', 'Edit release data and visibility' %></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Available</th>
      <td><%= embargo_date %></td>
    </tr>
    <tr>
      <th scope="row">Access</th>
      <td><%= access %></td>
    </tr>
    </tbody>
  </table>

  <table class="table table-sm mb-5">
    <thead class="table-light">
    <tr>
      <th scope="col" class="table-title col-3">Terms of use and license<%= edit_link 'license', 'Edit terms of use and license' %></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">License</th>
      <td><%= license %></td>
    </tr>
    <tr>
      <th scope="row">Terms of use</th>
      <td>"User agrees that, where applicable, content will not be used to identify or to otherwise infringe the privacy or confidentiality rights of individuals. Content distributed via the Stanford Digital Repository may be subject to additional license and use restrictions applied by the Depositor."</td>
    </tr>
    </tbody>
  </table>

  <table class="table table-sm mb-5" id="events">
    <thead class="table-light">
      <tr>
        <th scope="col" class="table-title col-3">History</th>
        <th scope="col">Modified by</th>
        <th scope="col">Last modified</th>
        <th scope="col">Description of changes</th>
      </tr>
    </thead>
    <tbody>
      <% events.each do |event| %>
        <tr>
          <td><%= I18n.t event.event_type, scope: 'event.type' %></td>
          <td><%= event.user.sunetid %></td>
          <td><%= I18n.l(event.created_at, format: :abbr_month) %></td>

          <td><%= event.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
