<section id="release">
  <% if !user_can_set_availability? && !user_can_set_access? %>
    <header>Release of this deposit for discovery and download after publication *</header>
  <% else %>
    <header>Manage release of this deposit for discovery and download after publication</header>
  <% end %>

  <% if user_can_set_availability? %>
    <p>Select when the files in your deposit will be downloadable from the PURL page.
      If you select "Immediately", your files will be available shortly after <%= when_available_statement %>.
      Or you may specify a specific date in the future.</p>

    <%= render Works::AvailableDateComponent.new(form: form) %>
    <% if user_can_set_access? %>
      <%= render Works::AccessComponent.new(form: form) %>
    <% else %>
      <p>The files in your deposit will be downloadable by <%= I18n.t "collection.access.#{access_from_collection}" %>.</p>
    <% end %>
  <% else %>
   <% if user_can_set_access?%>
    <p>The files in your deposit will be downloadable from the PURL
      page <%= availability_from_collection %>.</p>
     <%= render Works::AccessComponent.new(form: form) %>
   <% else %>
     <p>The files in your deposit will be downloadable by <%= I18n.t "collection.access.#{access_from_collection}" %>
       from the PURL page <%= availability_from_collection %>.</p>
   <% end %>
  <% end %>

</section>
