<section id="release">
  <header>Manage release of this deposit for discovery and download after publication</header>
  <p>Select when the files in your deposit will be downloadable from the PURL page.
     If you select "Immediately", your files will be available shortly after you click
     "Deposit" at the bottom of this page. Or you may specify a specific date in the future.</p>

   <div class="mb-3 row">
     <div class="col-sm-10 release-option">
       <%= form.radio_button :release, 'immediate', class: 'form-check-input' %>
       <%= form.label :release_immediate, 'Immediately once deposit is completed' %>
     </div>
   </div>

   <div class="embargo_date" data-controller="embargo_date" data-action="error->embargo_date#error" data-target="edit-deposit.embargo_dateField">
   <div class="mb-5 row" data-target="embargo_date.container">
     <div class="col-sm-10 release-option">
          <%= form.radio_button :release, 'embargo', class: 'form-check-input' %>
          <%= form.label :release_embargo, 'On this date' %>

          <div class="year">
            <label for="work_embargo_year" class="visually-hidden">Embargo year</label>
            <%= select_year Time.zone.today, { prefix: 'work', field_name: 'embargo_date(1i)', start_year: Time.zone.today.year, end_year: 3.years.from_now.year }, id: 'work_embargo_year', class: "form-control" %>
          </div>

          <div class="month">
            <label for="work_embargo_month" class="visually-hidden">Embargo month</label>
            <%= select_month nil, { prefix: 'work', field_name: 'embargo_date(2i)', prompt: 'month'}, id: 'work_embargo_month', class: "form-control" %>
          </div>

          <div class="day">
            <label for="work_embargo_day" class="visually-hidden">Embargo day</label>
            <%= select_day nil, { prefix: 'work', field_name: 'embargo_date(3i)', prompt: 'day'}, id: 'work_embargo_day', class: "form-control" %>
          </div>
        </div>
        <div data-target="embargo_date.error" class="invalid-feedback">blah</div>
      </div>
   </div>

  <p>Select which audience you would like to have access to download your files once they are available.</p>
  <div class="mb-3 row">
    <%= form.label :access, 'Who can access?', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.select :access, [['Stanford Community', 'stanford'], ['Everyone', 'world']], { disabled: "", prompt: "Select..." }, class: "form-select", required: true %>
    </div>
  </div>
</section>
