<div class="dz-preview dz-file-preview row pb-2 <%= 'dz-complete' if uploaded? %>" data-dropzone-target="preview">
  <div class="thumb" class="col-md-1">
    <img data-dz-thumbnail />
  </div>
  <div class="col-4">
    <% if uploaded? %>
      <div data-dropzone-target="fileName">
        <span class="fa-regular fa-file" aria-hidden="true"></span>
        <span><%= filename %>: <%= number_to_human_size(filesize) %>, <%= render LocalTimeComponent.new(datetime: date_uploaded, show_time: false) %></span>
      </div>
    <% else %>
      <div class="dz-filename" data-dropzone-target="fileName"><span data-dz-name></span></div>
      <div class="row">
        <div class="dz-progress col-md-2"><span class="dz-upload" data-dz-uploadprogress></span></div>
        <div class="col">
          <div class="dz-success-mark"><span class="fa-solid fa-check fa-sm" /></div>
          <div class="dz-error-mark"><span class="fa-solid fa-exclamation-triangle fa-sm" /></div>
        </div>
        <div class="dz-error-message"><span data-dz-errormessage=""></span></div>
      </div>
    <% end %>
  </div>

  <div class="upload-description col-5 row">
    <div class="col-md-3">
      <%= form.label :label, 'Description (optional)', class: 'col-form-label' %>
      <%= render PopoverComponent.new key: 'work.description' %>
    </div>
    <div class="col-md-9">
    <%= form.text_field :label, class: 'form-control' %>
    </div>
  </div>

  <div class="dz-details col-2">
    <%= form.hidden_field :_destroy %>
    <%= form.hidden_field :file %>
    <%= form.check_box :hide, class: 'form-check-input' %>
    <%= form.label :hide, 'Hide file', class: 'form-check-label col-form-label ' %>
    <%= render PopoverComponent.new key: 'work.hide_file' %>
  </div>

  <div class="invalid-feedback col">We were unable to upload your file due to size or other issues. Delete this file and try again.</div>

  <div class="col-1">
    <%= button_tag type: 'button',
                   class: "dz-remove pull-right btn remove-file",
                   "aria-label": "Remove file",
                   data: { action: "click->dropzone#removeAssociation" } do %>
      <span class="far fa-trash-alt"></span>
    <% end %>
  </div>
</div>
