<div class="dz-preview dz-file-preview row py-3 <%= 'dz-complete' if uploaded? %>" data-dropzone-target="preview">
  <div class="thumb col-1">
    <img data-dz-thumbnail />
  </div>
  <div class="col-5">
    <% if saved? %>
      <div data-dropzone-target="fileName">
        <span class="fa-regular fa-file" aria-hidden="true"></span>
        <span><%= filename %>: <wbr><%= number_to_human_size(filesize) %>, <wbr><%= render LocalTimeComponent.new(datetime: date_uploaded, show_time: false) %></span>
      </div>
    <% elsif uploaded? %>
      <div data-dropzone-target="fileName">
        <span class="fa-regular fa-file" aria-hidden="true"></span>
        <span><%= filename %>: <wbr><%= number_to_human_size(filesize) %>, <wbr>Now</span>
      </div>
    <% else %>
      <div class="dz-filename" data-dropzone-target="fileName"><span data-dz-name></span></div>
      <div class="row">
        <div class="dz-progress col-md-2"><span class="dz-upload" data-dz-uploadprogress></span></div>
        <div class="col">
          <div class="dz-success-mark"><span class="fa-solid fa-check fa-sm" /></div>
          <div class="dz-error-mark"><span class="fa-solid fa-exclamation-triangle fa-sm" /></div>
        </div>
        <div class="dz-error-message"><span data-dz-errormessage=""></span></div>
      </div>
    <% end %>
    <div class="invalid-feedback">We were unable to upload your file due to size or other issues. Delete this file and try again.</div>
  </div>

  <div class="upload-description col-4">
      <% unless zip_template? %>
        <div>
          <%= form.label :label, 'Description (optional)' %>
          <%= render PopoverComponent.new key: 'work.description' %>
        </div>
        <%= form.text_field :label, class: 'form-control' %>
      <% end %>
  </div>

  <div class="dz-details col-1 d-flex align-items-center">
      <div class="form-check">
        <%= form.hidden_field :_destroy %>
        <%= form.hidden_field :file %>
        <%= form.hidden_field :path %>
        <% unless zip_template? %>
          <%= form.check_box :hide, class: 'form-check-input' %>
          <%= form.label :hide, 'Hide file', class: 'form-check-label col-form-label ' %>
          <%= render PopoverComponent.new key: 'work.hide_file' %>
        <% end %>
      </div>
  </div>

  <div class="col-1 d-flex align-items-center">
    <%= button_tag type: 'button',
                   class: "dz-remove pull-right btn remove-file",
                   "aria-label": "Remove file",
                   data: { action: "click->dropzone#removeAssociation" } do %>
      <span class="fa-regular fa-trash-alt"></span>
    <% end %>
  </div>
</div>
