<div class="dz-preview dz-file-preview row <%= 'dz-complete' if uploaded? %>" data-dropzone-target="preview">
  <div class="thumb">
    <img data-dz-thumbnail />
  </div>
  <div class="col-md-2">
    <% if filename %>
      <div class="dz-filename">
        <span class="fas fa-check file-uploaded"></span>
        <%= filename %>
      </div>
    <% else %>
      <div class="dz-filename"><span data-dz-name></span></div>
      <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
      <div class="dz-success-mark"><span>✔</span></div>
      <div class="dz-error-mark"><span>✘</span></div>
      <div class="dz-error-message"><span data-dz-errormessage></span></div>
    <% end %>
  </div>

  <div class="upload-description col row">
    <div class="col-md-3">
      <%= form.label :label, 'Description', class: 'col-form-label' %>
      <%= render PopoverComponent.new key: 'work.description' %>
    </div>
    <div class="col-md-9">
    <%= form.text_field :label, class: 'form-control' %>
    </div>
  </div>

  <div class="dz-details col-md-2">
    <%= form.hidden_field :_destroy %>
    <%= form.hidden_field :file %>
    <%= form.check_box :hide, class: 'form-check-input' %>
    <%= form.label :hide, 'Hide file', class: 'form-check-label col-form-label ' %>
    <%= render PopoverComponent.new key: 'work.hide_file' %>
  </div>

  <div class="col-md-1">
    <%= button_tag type: 'button', class: "dz-remove pull-right btn", data: { action: "click->dropzone#removeAssociation" } do %>
      <span class="far fa-trash-alt"></span>
    <% end %>
  </div>
</div>
