<h1><%= page_title %></h1>
<%= form_with model: work_form, url: url,
    data: {
      controller: 'auto-citation unsaved-changes',
      action: 'change->unsaved-changes#changed beforeunload@window->unsaved-changes#leavingPage turbo:before-visit@window->unsaved-changes#leavingPage',
      auto_citation_purl: purl
    },
    html: { class: "needs-validation work-editor", novalidate: true, multipart: true } do |f| %>
  <% if work_form.errors.present? %>
    <div id="error_explanation">
      <h2><%= pluralize(work_form.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% work_form.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :work_type %>
  <%= render Works::VersionDescriptionComponent.new(form: f) %>
  <p class="form-instructions"><strong>* REQUIRED FIELDS</strong></p>
  <%= render Works::AddFilesComponent.new(form: f) %>
  <%= render Works::TitleComponent.new(form: f) %>
  <%= render Works::AuthorsAndContributorsComponent.new(form: f) %>
  <%= render Works::DatesComponent.new(form: f,
                                       min_year: Settings.earliest_year,
                                       max_year: Time.zone.today.year) %>
  <%= render Works::DescriptionComponent.new(form: f) %>
  <%= render Works::EmbargoComponent.new(form: f) %>
  <%= render Works::LicenseComponent.new(form: f) %>
  <%= render Works::AgreementComponent.new(form: f) %>
  <%= render Works::ButtonsComponent.new(form: f) %>
<% end %>
