<h1><%= page_title %></h1>
<%= form_with model: work_form, url:,
              data: {
                controller: data_controllers,
                action: 'change->unsaved-changes#changed beforeunload@window->unsaved-changes#leavingPage turbo:before-visit@window->unsaved-changes#leavingPage',
                auto_citation_purl: purl,
                auto_citation_doi: doi_field,
                auto_citation_user_version_value: user_version,
                auto_citation_user_versions_ui_enabled_value: user_versions_ui_enabled?
              },
              html: { class: 'needs-validation work-editor', novalidate: true, multipart: true } do |f| %>
  <% if work_form.errors.present? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4><%= pluralize(work_form.errors.size, 'error') %> prohibited this item from being saved:</h4>

      <ul>
        <% work_form.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :work_type %>
  <div class="form-instructions"><h2 class="h4">* Required fields</h2></div>
  <%= render Works::VersionDescriptionComponent.new(form: f) %>
  <%= render Works::AddFilesComponent.new(form: f) %>
  <%= render Works::TitleComponent.new(form: f) %>
  <%= render Works::AuthorsAndContributorsComponent.new(form: f) %>
  <%= render Works::DatesComponent.new(form: f,
                                       min_year: Settings.earliest_year,
                                       max_year: Time.zone.today.year) %>
  <%= render Works::DescriptionComponent.new(form: f) %>
  <%= render Works::EmbargoComponent.new(form: f) %>
  <%= render Works::LicenseComponent.new(form: f) %>
  <%= render Works::AgreementComponent.new(form: f) %>
  <%= render Works::ButtonsComponent.new(form: f) %>
<% end %>
