<div class="mb-3 row plain-container g-0">
  <div class="col-sm-6">
    <%= form.label :label, 'Keyword', class: 'col-form-label sr-only' %>
    <div data-controller="autocomplete autocomplete-edit" data-autocomplete-url-value="/autocomplete" data-autocomplete-min-length-value="3" class="dropdown">
      <%= form.text_field :label, { class: "form-control#{ 'is-invalid' if error?}", required: true, 'data-autocomplete-target': 'input', 'data-autocomplete-edit-target': 'input' } %>
      <!-- This input is populated by autocomplete controller.-->
      <!-- That triggers the autocomplete-edit controller, which populates the uri and cocina type inputs. -->
      <input type="hidden" data-autocomplete-target="hidden" data-autocomplete-edit-target="value" data-action="autocomplete-edit#change" />
      <%= form.hidden_field :uri, { required: true, 'data-autocomplete-edit-target': 'uri' }%>
      <%= form.hidden_field :cocina_type, { required: true, 'data-autocomplete-edit-target': 'type' }%>
      <ul class="show dropdown-menu" data-autocomplete-target="results"></ul>
      <div class="invalid-feedback">Keyword must be filled in</div>
    </div>
  </div>
  <div class="col-sm-1">
    <%= button_tag type: 'button', class: 'btn btn-sm', aria: { label: 'Remove' },
    data: { action: "click->nested-form#removeAssociation" } do %>
      <span class="far fa-trash-alt"></span>
    <% end %>
    <%= form.hidden_field :_destroy %>
  </div>
</div>
