<div class="mb-3" data-controller="nested-form" data-nested-form-selector-value=".plain-container">
  <div class="keywords-container<%= " is-invalid" if error? %>" data-keywords-target="container addItem" data-action="click->keywords#open">
    <template data-nested-form-target='template' data-keywords-target="selectedTemplate">
      <%= form.fields_for :keywords, Keyword.new, child_index: "TEMPLATE_RECORD" do |keyword_form| %>
        <%= row(keyword_form) %>
      <% end %>
    </template>

    <%= form.fields_for :keywords do |keyword_form| %>
      <%= row(keyword_form) %>
    <% end %>
  </div>

  <div data-nested-form-target="add_item">
    <%= button_tag "+ Add another keyword", type: "button", class: "btn btn-outline-primary", data: {action: "nested-form#addAssociation"} %>
  </div>
</div>
