<section id="license">
  <header>License *</header>
  <% if user_can_set_license? %>
    <div class="mb-3 row">
      <div class="col-sm-2">
        <%= form.label :license, "License *", class: "col-form-label" %>
        <%= render PopoverComponent.new key: "work.license" %>
      </div>
      <div class="col-sm-5">
        <%= form.select :license,
              grouped_options_for_select(License.grouped_options(license), license),
              {}, class: "form-select", "aria-describedby": "popover-work.license",
              data: {controller: "license", action: "change->license#validate"} %>
        <div class="invalid-feedback">
          Please select a supported license.
        </div>
      </div>
      <div class="col-sm-5">
        <%= link_to "Get help selecting a license", Settings.external_links.license_help, target: "_blank" %>
      </div>
    </div>
  <% else %>
    <p>The license for this deposit is <%= license_from_collection %>.</p>
  <% end %>

  <hr>
  <p>In addition to the license, the following Terms of Use will also be displayed on your PURL page.</p>
  <p style="font-style: italic; margin-left: 2.5rem;">
    <%= Settings.access.use_and_reproduction_statement %>
  </p>

  <% if collection.allow_custom_rights_statement? %>
    <hr>
    <div class="row">
      <div class="col-sm-2">
        <%= form.label :custom_rights, "Additional terms of use", class: "col-form-label" %>
        <% unless collection.provided_custom_rights_statement %>
          <%= render PopoverComponent.new key: "work.custom_rights", custom_content: collection.custom_rights_statement_custom_instructions %>
        <% end %>
      </div>
      <div class="col-sm-8">Enter additional terms of use not covered by your chosen license or the default terms shown above, which also display on the PURL page.</div>
    </div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <% if collection.provided_custom_rights_statement %>
          <p><%= collection.provided_custom_rights_statement %></p>
          <%= form.hidden_field :custom_rights, value: collection.provided_custom_rights_statement %>
        <% else %>
          <%= form.text_area :custom_rights, class: "form-control",
                data: {action: "no-newlines#change", no_newlines_target: "input", controller: "no-newlines"} %>
        <% end %>
      </div>
    </div>
  <% end %>

</section>
