<div class="mb-3 row">
  <h5>Related works (optional)</h5>
</div>

<div class="mb-3 row" data-controller="nested-form">
  <template data-target='nested-form.template'>
    <%= form.fields_for :related_works, RelatedWork.new, child_index: 'TEMPLATE_RECORD' do |contributor_form| %>
      <%= render Works::RelatedWorkRowComponent.new(form: contributor_form) %>
    <% end %>
  </template>

  <%= form.fields_for :related_works do |contributor_form| %>
    <%= render Works::RelatedWorkRowComponent.new(form: contributor_form) %>
  <% end %>

  <div data-target="nested-form.add_item">
    <%= button_tag '+ Add another related work', type: 'button', class: "btn btn-outline-primary", data: { action: "nested-form#addAssociation" } %>
  </div>
</div>
