<div class="mb-3 row">
  <div class="col-sm-12 h5">
    Work types <%= '(optional)' if !other_type? %>
  </div>
</div>

<div class="mb-5 row work-types">
  <% if other_type? %>
    <%= form.label :subtype, 'Other', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.text_field :subtype, class: 'form-control', required: true, multiple: true %>
      <div class="invalid-feedback">You must provide a subtype for works of type 'Other'</div>
    </div>
  <% else %>
    <% subtypes.each do |subtype| %>
      <div class="col-sm-4">
        <div class="form-check">
          <%= form.check_box :subtype, { multiple: true, class: 'form-check-input' }, subtype, nil %>
          <%= form.label "subtype_#{sanitized_value(subtype)}", subtype, class: 'form-check-label' %>
        </div>
      </div>
    <% end %>

    <a href="#" class="mt-4 more-options collapsed" data-action="edit-deposit#toggleMoreTypes" data-edit-deposit-target="moreTypesLink">
      See more options
    </a>

    <div class="row" data-edit-deposit-target="moreTypes" hidden>
      <% more_types.each do |more_type| %>
        <div class="col-sm-4">
          <div class="form-check">
            <%= form.check_box :subtype, { multiple: true, class: 'form-check-input' }, more_type, nil %>
            <%= form.label "subtype_#{sanitized_value(more_type)}", more_type, class: 'form-check-label' %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
