<script>
  document.subtypes = <%= WorkType.to_json.html_safe %>;
  document.moreTypes = <%= WorkType.more_types.to_json.html_safe %>
</script>

<div class="modal fade work-types" id="workTypeModal" tabindex="-1" aria-labelledby="content-type-prompt" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="h5 modal-title" id="content-type-prompt" aria-describedby="popover-what_type">What type of content will you deposit?
          <%= render PopoverComponent.new key: :what_type %>
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form method="<%= form_method %>" action="/collections/1/work/new" class="mb-4" data-work-type-modal-target="form" data-work-type-target="form" data-work-type-edit-target="form" <% unless turbo? %> data-turbo=false<% end %>>
          <% if hidden_method? %>
            <input type="hidden" name="_method" value="<%= method %>">
          <% end %>
          <% if form_authenticity_token %>
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <% end %>
          <div class="row">
            <% types.each do |type| %>
              <div class="work-type-box">
                <%= render CheckboxButtonComponent.new(name: "work_type", value: type.id, data: {action: "work-type-modal#change"}) do %>
                  <span class="fa-solid fa-2x fa-<%= type.icon %>" aria-hidden="true"></span> <div class="work-type-button-text"><%= type.html_label %></div>
                <% end %>
              </div>
            <% end %>
          </div>

          <template data-work-type-modal-target="templateHeader">
            <h2 class="h5" aria-describedby="popover-further_types">Which of the following terms further describe your deposit?
              <%= render PopoverComponent.new key: :further_types %>
            </h2>
          </template>

          <template data-work-type-modal-target="template">
            <div class="subtype-item">
              <input type="checkbox" name="subtype[]" value="SUBTYPE_LABEL" id="subtype_SUBTYPE_ID" class="form-check-input">
              <label for="subtype_SUBTYPE_ID" class="ms-1">SUBTYPE_LABEL</label>
            </div>
          </template>

          <template data-work-type-modal-target="musicTemplateSubheader">
            <h2 class="h6">Select at least one term below:</h2>
          </template>

          <template data-work-type-modal-target="mixedMaterialTemplateSubheader">
            <h2 class="h6">Select at least two terms below:</h2>
          </template>

          <template data-work-type-modal-target="otherTemplate">
            <div class="ms-4 col-auto">
              <h2 class="h5">Specify "Other" type*</h2>
            </div>
            <div class="me-5 mb-3 col subtype-item">
              <input type="text" name="subtype[]" class="form-control" id="subtype_other" autocomplete="on" required>
            </div>
          </template>

          <div class="row" data-work-type-modal-target="area" hidden></div>

          <div class="mb-4 subtype-container" data-work-type-modal-target="subtype"></div>

          <a href="#" class="more-options collapsed" data-action="work-type-modal#toggleMoreTypes" data-work-type-modal-target="moreTypesLink" hidden aria-expanded="false" role="button" aria-controls="modalSubtypeContainer">
            See more options
          </a>

          <div id="modalSubtypeContainer" class="mb-4 subtype-container" data-work-type-modal-target="moreTypes" hidden></div>

          <button type="submit"
            class="btn btn-primary mx-auto d-block"
            data-action="work-type-modal#checkSubtypes"
            data-work-type-modal-target="continueButton">Continue</button>
        </form>
      </div>
    </div>
  </div>
</div>
