<script>
  document.subtypes = <%= WorkType.to_json.html_safe %>;
  document.moreTypes = <%= WorkType.more_types.to_json.html_safe %>
</script>

<div class="modal fade work-types" id="workTypeModal" tabindex="-1" aria-labelledby="content-type-prompt" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="content-type-prompt">What type of content will you deposit?
          <%= render PopoverComponent.new key: :what_type %>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form method="get" action="/collections/1/work/new" class="mb-4" data-work-type-target="form">
          <div class="row">
            <% types.each do |type| %>
              <div class="work-type-box">
                <%= render CheckboxButtonComponent.new(name: 'work_type', value: type.id, data: { action: "work-type#change" }) do %>
                  <span class="fa-solid fa-2x fa-<%= type.icon %>" aria-hidden="true"></span> <div class="work-type-button-text"><%= type.html_label %></div>
                <% end %>
              </div>
            <% end %>
          </div>

          <template data-work-type-target="templateHeader">
            <h5>Which of the following terms further describe your deposit?
              <%= render PopoverComponent.new key: :further_types %>
            </h5>
          </template>

          <template data-work-type-target="template">
            <div class="subtype-item">
              <input type="checkbox" name="subtype[]" value="SUBTYPE_LABEL" id="subtype_SUBTYPE_ID" class="form-check-input">
              <label for="subtype_SUBTYPE_ID" class="ms-1">SUBTYPE_LABEL</label>
            </div>
          </template>

          <template data-work-type-target="musicTemplateSubheader">
            <h6>Select at least one term below:</h6>
          </template>

          <template data-work-type-target="mixedMaterialTemplateSubheader">
            <h6>Select at least two terms below:</h6>
          </template>

          <template data-work-type-target="otherTemplate">
            <div class="ms-4 col-auto">
              <h5>Specify "Other" type*</h5>
            </div>
            <div class="me-5 mb-3 col subtype-item">
              <input type="text" name="subtype[]" class="form-control" id="subtype_other" required>
            </div>
          </template>

          <div class="row" data-work-type-target="area" hidden></div>

          <div class="mb-4 subtype-container" data-work-type-target="subtype"></div>

          <a href="#" class="more-options collapsed" data-action="work-type#toggleMoreTypes" data-work-type-target="moreTypesLink" hidden>
            See more options
          </a>

          <div class="mb-4 subtype-container" data-work-type-target="moreTypes" hidden></div>

          <button type="submit" 
            class="btn btn-primary mx-auto d-block" 
            data-action="work-type#checkSubtypes"
            data-work-type-target="continueButton">Continue</button>
        </form>
      </div>
    </div>
  </div>
</div>
