<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'SDR | Stanford Digital Repository' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag "https://www-media.stanford.edu/su-identity/css/su-identity.css" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/simple-datatables@2.1.13/dist/style.css" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="overflow-hidden">
      <div class="container-xl">
        <a class="visually-hidden-focusable d-inline-flex p-2 m-1" href="#content">Skip to main content</a>
      </div>
    </div>

    <div id="su-wrap">
      <div id="su-content">
        <header class="navbar navbar-expand navbar-dark stanford-navbar">
          <nav class="container-xxl flex-wrap flex-md-nowrap" aria-label="Main navigation">
            <a class="navbar-brand p-0 me-auto" href="/" aria-label="Stanford Digital Repository">
              <%= image_tag('StanfordLibraries-logo-whitetext.svg', height: 32, alt: 'Stanford Digital Repository') %>
            </a>

            <div id="notifications"></div>

            <%= link_to('Help', '#contactUsModal',
                        class: 'nav-link',
                        data: {
                          bs_toggle: 'modal',
                          bs_target: '#contactUsModal',
                          controller: 'contact-us'
                        }) %> &#8226;
            <%= link_to('SDR Services', Settings.sdr_url,
                        class: 'nav-link') %> &#8226;
            <%= link_to('Terms of Deposit', '#termsOfDepositModal',
                        class: 'nav-link',
                        data: {
                          bs_toggle: 'modal',
                          bs_target: '#termsOfDepositModal'
                        }) %> &#8226;
            <div id="login">
              <% if current_user %>
                <%= link_to('Logout', destroy_user_session_path, class: 'nav-link') %>
              <% else %>
                <%= link_to('Login', new_user_session_path, class: 'nav-link') %>
              <% end %>
            </div>

          </nav>
        </header>
        <% if controller_name != 'welcome' %>
          <div class="background-holder">
            <div class="sdr-header">
              <div class="container-xxl">
                <span class="stanford">Stanford</span><span class="digital-repo">Digital Repository</span>
              </div>
            </div>
            <%= yield :breadcrumbs %>
          </div>
        <% end %>


        <%= render 'shared/flashes' %>
        <%= render 'shared/terms_of_deposit' %>
        <%= render 'shared/help_modal' %>
        <%= yield %>

      </div>
    </div>

    <footer role="contentinfo">
      <div id="sul-footer-container">
        <div id="sul-footer">
          <div id="sul-footer-img" class="span2">
            <%= link_to 'https://library.stanford.edu' do %>
              <%= image_tag "sul-logo-stacked.svg", alt: "Stanford Libraries", height: 45 %>
            <% end %>
          </div>
          <div id="sul-footer-links" class="span2">
            <ul>
              <li><a href="https://library.stanford.edu/hours">Hours &amp; locations</a></li>
              <li><a href="https://library.stanford.edu/myaccount">My Account</a></li>
              <li><a href="https://library.stanford.edu/ask">Ask us</a></li>
              <li><a href="https://library.stanford.edu/opt-out">Opt out of analytics</a></li>
              <li><a href="https://library-status.stanford.edu/">System status</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-footer" role="contentinfo">
      <div class="container">
        <div class="row">
          <div id="bottom-logo" class="col-sm-2">
            <a href="https://www.stanford.edu">
              <img src="https://www-media.stanford.edu/su-identity/images/footer-stanford-logo@2x.png" alt="Stanford University" width="105" height="49"/>
            </a>
          </div>
          <!-- #bottom-logo end -->
          <div id="bottom-text" class="col-sm-8">
            <ul>
              <li class="home"><a href="https://www.stanford.edu">Stanford Home</a></li>
              <li class="maps alt"><a href="https://visit.stanford.edu/plan/">Maps & Directions</a></li>
              <li class="search-stanford"><a href="https://www.stanford.edu/search/">Search Stanford</a></li>
              <li class="emergency alt"><a href="https://emergency.stanford.edu">Emergency Info</a></li>
            </ul>
            <ul id="policy-links">
              <li><a href="https://www.stanford.edu/site/terms/" title="Terms of use for sites">Terms of Use</a></li>
              <li><a href="https://www.stanford.edu/site/privacy/" title="Privacy and cookie policy">Privacy</a></li>
              <li><a href="https://uit.stanford.edu/security/copyright-infringement" title="Report alleged copyright infringement">Copyright</a></li>
              <li><a href="https://adminguide.stanford.edu/chapter-1/subchapter-5/policy-1-5-4" title="Ownership and use of Stanford trademarks and images">Trademarks</a></li>
              <li><a href="http://exploredegrees.stanford.edu/nonacademicregulations/nondiscrimination/" title="Non-discrimination policy">Non-Discrimination</a></li>
              <li><a href="https://www.stanford.edu/site/accessibility" title="Report web accessibility issues">Accessibility</a></li>
            </ul>
          </div> <!-- .bottom-text end -->
          <div class="clear"></div>
          <p class="copyright vcard offset-sm-2 ml-3">&copy; <span class="fn org">Stanford University</span>, <span class="adr"> <span class="locality">Stanford</span>, <span class="region">California</span> <span class="postal-code">94305</span></span>.
          </p>
        </div> <!-- .row end -->
      </div> <!-- .container end -->
    </div>
  </body>
</html>
